/*----------------loading start----------------*/
.loading {
  z-index: 9999;
  background: $bgColor;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  .loading_b {
    width: 300px;
    height: 400px;
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
    .loadingimg {
      padding: 20px 5px;
      width: 300px;
      height: 260px
    }
    .loadingtext {
      font-size: 2em;
      text-align: center;
      animation: flash 1.2s ease-in-out infinite
    }
  }
}
/*----------------loading end----------------*/
/*----------------prepage start----------------*/
.prepage {
  background: $notebg;
  height: 900px;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  h1 {
    text-align: center
  }
  .vtext {
    font-size: 20px;
    display: block;
    text-align: center
  }
  .timg {
    width: 330px;
    margin: auto;
    img {
      width: 100%;
      height: 100%
    }
  }
  @media screen and (min-width:600px){
    height: 1024px;
    width: 1440px
    h1 {
      padding-top: 40px
    }
    .vtext {
      position: absolute
    }
    .text1 {
      left: 935px;
      top: 140px
    }
    .text2 {
      left: 1035px;
      top: 190px
    }
    .text3 {
      left: 435px;
      top: 225px
    }
    .timg {
      width: 440px;
      height: 724px;
      position: absolute;
      top: 140px;
      left: calc(100% / 2 - 220px);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &.prepage_show {
    transform-origin: 0 0;
    animation: prepage_show 1.5s ease-in-out forwards
  }
  &.prepage_hide {
    transform-origin: 0 0;
    animation: prepage_hide 1.5s ease-in-out forwards
  }
}
/*----------------prepage end----------------*/
/*----------------back start----------------*/
.backblock {
  width: 100vw;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  overflow: hidden;
  display: none;
  transition: all .5s ease-in-out;
  .backtext {
    background: $opacity_8;
    line-height: 60px;
    text-align: center;
    color: $white;
    font-size: 32px;
    transform-origin: center;
    &:active {
      transform: scale(1.3);
    }
  }
  &.back_show {
    transform-origin: 0 0;
    animation: back_show 1s forwards;
  }
  &.back_hide {
    transform-origin: 0 0;
    animation: back_hide 1s forwards;
  }
  @media screen and (min-width:600px){
    width: 200px;
    height: 200px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    overflow: hidden;
    display: none;
    .back {
      width: 200px;
      height: 200px;
      position: absolute;
      left: -100px;
      top: -100px;
      background: $opacity_8;
      transform: rotate(-45deg);
      .backtext {
        position: absolute;
        background: none;
        left: 50%;
        bottom: 0;
        line-height: 48px;
        margin-left: -34px;
        color: $white;
      }
    }
  }
}
/*----------------back end----------------*/
/*----------------motag start----------------*/
.cmotag {
  margin-top: 60px;
  overflow: hidden;
  .motag {
    display: block;
    float: left;
    text-align: center;
    position: relative;
    &:active {
      display: block;
      color: $white;
      transition: all .5s ease-in-out;
      transform: translate(5px,5px)
    }
    a {
      text-decoration: none;
      font-size: 24px;
      line-height: 2.5em;
      padding-left: 60px;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 1px;
        z-index: -1
      }
    }
  }
  @media screen and (min-width:600px){
    display: none
  }
}
/*----------------motag end----------------*/
/*----------------nav start----------------*/
nav {
  height: 60px;
  background: $white;
  position: relative;
  margin-bottom: 60px;
  z-index: 15;
  opacity: .8;
  box-shadow:#33333380 5px 5px 10px;
  .rail {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    background: url(../images/layout/rail.png);
    background-size: cover;
    z-index: 2;
  }
  ul {
    //display: none;
    li {
      width: 100%;
      height: 60px;
      font-size: 48px;
      background: $white;
      text-align: center;
      line-height: 60px;
      transition: all .2s;
      &.nav1 {
        display: block;
      }
      &:hover {
        background: $textColor;
      }
      a {
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  @media screen and (min-width:600px){
    margin: 30px auto;
    width: 550px;
    ul {
      li {
        margin-left: 60px;
        width: 490px
      }
    }
  }
}
/*----------------nav end----------------*/
/*----------------tape start----------------*/
@mixin tape ($side1, $side2, $va1, $va2, $trans) {
  position: absolute;
  z-index: 2;
  #{$side1}: $va1;
  #{$side2}: $va2;
  @media screen and (max-width:600px){
    transform: $trans;
    transform-origin: center;
  }
}
.tape_l {
  @include tape ("left", "top", -65px, -65px, scale(.7))
}
.tape_r {
  @include tape (right, top, -65px, -65px, scale3d(.7,-.7,.7));
  transform: scaleY(-1);
}
.tape_bl {
  @include tape (left, bottom, -65px, -65px, scale3d(.7,-.7,.7));
  transform: scaleY(-1);
}
.tape_br {
  @include tape (right, bottom, -65px, -65px, scale(.7))
}
.tape_h {
  @include tape (left, top, calc(100% / 2 + -110px), -100px, rotate(40deg) scale(.7));
  transform: rotate(40deg);
}
.tapeone {
  @media screen and (max-width:600px){
    display: none;
  }
}
/*----------------tape end----------------*/
/*----------------tag start----------------*/
.tag {
  width: 260px;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  padding-left: 1.8em;
  transform: rotate(-10deg);
  margin-bottom: 50px;
  margin-top: 20px;
}
$tags: (n:north, e:east, m:middle, s:south);
@each $name, $side in $tags {
  .#{$name}tag {
    background: url(../images/#{$side}/tag.png) no-repeat;
    background-size: 100%;
    background-position: 0 3px;
  }
}
/*----------------tag end----------------*/
/*----------------btn start----------------*/
.gotop {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #000;
  opacity: 0.6;
  display: none;
  color: $white;
  z-index: 50;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  text-decoration: none;
}
/*----------------btn end----------------*/