.page {
  width: 100%;
  margin-bottom: 100px;
}
/*----------------carousel----------------*/
.carousel-item {
  height: 380px;
}
.carousel-indicators {
  li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
}
/*----------------carousel----------------*/
/*----------------page1 start----------------*/
.page1 {
  box-shadow: $shadow 0px 20px 10px;
  .bpage {
    width: 100%;
    color: $textColor;
    position: relative;
    background: url(images/layout/notebg1.png);
    .content {
      padding: 20px 10%;
      .btitle {
        font-weight: normal;
        font-size: 56px;
        line-height: 56px;
        margin: 25px 0;
        padding: 0 10px;
        width: 440px;
        display: inline-block;
        @media screen and (min-width: 1200px){
          border: $textColor solid 3px;
          border-bottom: 0px;
          border-top: 0px;
        }
      }
      .text {
        font-size: 24px;
        padding-top: 30px;    
      }
      .line1 {
        width: 115px;
        border-top: $textColor solid 3px;
        position: absolute;
        left: 0;
        top: 70px;    
      }
      .line2 {
        width: 434px;
        border-top: $textColor solid 3px;
        display: inline-block;
        margin-left: -4px;
        padding-top: 21px;
      }
    }
  }
}
/*----------------page1 end----------------*/

/*----------------page2 start----------------*/
.page2 {
  &.nsp {
    @extend .nsp;
  }
  &.sp {
    @extend .sp;
  }
  .col-12 {
    background: $notebg;
    padding: 2%;
    box-shadow: $shadow 0px 20px 10px;
    .aticle {
      padding: 0 6% 10% 8%
    }
  }
}
/*----------------page2 end----------------*/
/*----------------page3 start----------------*/
.page3 {
  .p3 {
    &.s_page {
      &.nsp {
        @extend .nsp;
      }
      &.sp {
        @extend .sp;
      }    
    }
    padding: 0 20px;
    margin: 50px 0;
    .pcontent {
      background: $white;
      padding: 25px;
      box-shadow: $shadow 0px 20px 10px;
      overflow: hidden; 
      .pimg {
        margin: auto;
      }
      h3 {
        padding: 10px 0;
      }
    }
  }
}
/*----------------page3 end----------------*/
/*----------------page4 start----------------*/
.page4 {
  .col-12 {
    background: $notebg;
    padding-bottom: 100px;
    box-shadow: $shadow 5px 5px 10px;
    .content {
      border: #979797 solid 1px;
      box-shadow: $shadow 0 0 5px;
      padding: 20px;
      .avatar {
        @media screen and (max-width:600px){
          height: 80px;
          width: 80px;  
        }
        height: 120px;
        width: 120px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: $shadow 4px 4px 4px;    
      }
      .col-9 {
        padding-left: 30px;
        h4 {
          font-weight: normal;
        }
        .star {
          img {
            display: inline-block;
            width: 50px;
            padding: 5px 0;
            margin-left: -5px        
          }
        }
      }
    }
  }
  .col-lg-6 {
    padding: 10px;
  }
}
/*----------------page4 end----------------*/
/*----------------page5 start----------------*/
.page5 {
  .vcontent {
    padding: 0 50px 100px 50px;
    .note{
      &.nsp {
        @extend .nsp;
      }
      &.sp {
        @extend .sp;
      }    
      .content {
        padding: 15px;
        background: url(images/layout/notebg1.png);
        box-shadow: $shadow 5px 5px 10px;
        .text {
          text-align: right
        }
      }
      .col-lg-4 {
        padding: 10px;
      }  
    }
  }
}
/*----------------page5 end----------------*/
/*----------------page6 start----------------*/
.page6 {
  .vcontent {
    padding-bottom: 100px;
    margin-top: 100px;
    position: relative;
    .col-lg-6 {
      padding: 0 20px 20px 20px;
    }
    .lcontent {
      background: $white;
      padding: 20px;
      box-shadow: $shadow 5px 5px 10px;
      margin-bottom: 30px;
    }
    .rcontent {
      background: $notebg;
      padding: 20px;
      box-shadow: $shadow 5px 5px 10px;
    }
  }
}
/*----------------page6 end----------------*/