$textColor: #333333;
$white: #FFFFFF;
$bgColor: #FFFFFB;
$opacity_8: #000000cc;
$shadow: #0000004d;
$notebg: url(../images/layout/notebg1.png) repeat;
// map
$titles: (n, e, m, s);
// title
$ntl: 937, 38, 645, 401, 39, 840;
$ntt: 305, 559, 680, 39, 194, 95;

$etl: 800, 468, 307, 30, 100, 758;
$ett: 130, 137, 515, 606, 75, 564;

$mtl: 39, 580, 900, 190, 344, 760;
$mtt: 139, 606, 275, 626, 95, 55;

$stl: 860, 350, 471, 100, 660, 24;
$stt: 138, 608, 118, 76, 650, 566;
// ground
$npl: 705, 578, 509, 347, 290, 688;
$npt: 402, 214, 457, 251, 367, 240;
$npw: 116, 52, 122, 162, 160, 173;
$nph: 150, 208, 84, 74, 90, 78;

$epl: 959, 448, 582, 235, 16, 773;
$ept: 251, 240, 289, 286, 287, 275;
$epw: 138, 150, 142, 168, 176, 158;
$eph: 89, 96, 98, 78, 55, 102;

$mpl: 208, 483, 791, 235, 439, 658;
$mpt: 220, 357, 337, 357, 222, 141;
$mpw: 162, 217, 149, 204, 172, 162;
$mph: 126, 114, 122, 125, 105, 140;

$spl: 835, 449, 529, 283, 730, 155;
$spt: 239, 405, 242, 177, 510, 325;
$spw: 210, 221, 171, 164, 229, 176;
$sph: 142, 161, 126, 145, 130, 118;
