@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
  color: #333333;
  padding: 0;
  margin: 0; }

body {
  width: 100vw;
  background: url(../images/layout/tbg2.jpg);
  background-size: contain; }

a {
  color: #333333;
  text-decoration: none; }

.tp {
  display: none; }

/*----------------**container start**----------------*/
.container {
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 600px) {
    .container {
      overflow: visible; } }

/*----------------**container end**----------------*/
footer {
  background: #360000;
  color: #ddd;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100vw;
  text-align: center; }

.map {
  display: none; }
  @media screen and (min-width: 600px) {
    .map {
      width: 1200px;
      height: 760px;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff40), color-stop(#ffffff40), to(#55555580)), url(../images/layout/notebg1.png) repeat;
      background: -o-linear-gradient(top, #ffffff40, #ffffff40, #55555580), url(../images/layout/notebg1.png) repeat;
      background: linear-gradient(180deg, #ffffff40, #ffffff40, #55555580), url(../images/layout/notebg1.png) repeat;
      -webkit-box-shadow: #0000004d 5px 10px 10px;
              box-shadow: #0000004d 5px 10px 10px;
      position: relative;
      margin-bottom: 65px;
      display: block; } }
  .map.momap {
    display: none; }
  .map .title {
    font-size: 48px;
    position: absolute; }
    .map .title .stitle {
      display: none;
      position: absolute;
      width: 370px;
      text-align: center;
      z-index: 1; }
      .map .title .stitle.ap:hover {
        -webkit-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        -webkit-transform-origin: 50, 50;
            -ms-transform-origin: 50, 50;
                transform-origin: 50, 50;
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
        .map .title .stitle.ap:hover a {
          color: #333333;
          text-decoration: none; }
      @media screen and (min-width: 600px) {
        .map .title .stitle {
          display: block; } }
  .map .fground {
    width: 1170px;
    height: 760px;
    text-align: center; }
    .map .fground:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .map .fground .ground {
      display: inline-block;
      vertical-align: middle; }
      .map .fground .ground .place {
        display: none;
        position: absolute; }
        .map .fground .ground .place img {
          width: 100%; }
        @media screen and (min-width: 600px) {
          .map .fground .ground .place {
            display: block; } }

#north .ground {
  width: 749px;
  height: 426px;
  background: url(../images/taiwan/img-1.png);
  background-size: contain; }

#east .ground {
  width: 1132px;
  height: 172px;
  background: url(../images/taiwan/img-2.png);
  background-size: contain; }

#middle .ground {
  width: 895px;
  height: 350px;
  background: url(../images/taiwan/img-3.png);
  background-size: contain; }

#south .ground {
  width: 932px;
  height: 313px;
  background: url(../images/taiwan/img-4.png);
  background-size: contain; }

@media screen and (min-width: 600px) {
  .cmotag {
    margin-top: 60px; } }

#n_title1 {
  left: 937px;
  top: 305px; }

#n_title2 {
  left: 38px;
  top: 559px; }

#n_title3 {
  left: 645px;
  top: 680px; }

#n_title4 {
  left: 401px;
  top: 39px; }

#n_title5 {
  left: 39px;
  top: 194px; }

#n_title6 {
  left: 840px;
  top: 95px; }

#e_title1 {
  left: 800px;
  top: 130px; }

#e_title2 {
  left: 468px;
  top: 137px; }

#e_title3 {
  left: 307px;
  top: 515px; }

#e_title4 {
  left: 30px;
  top: 606px; }

#e_title5 {
  left: 100px;
  top: 75px; }

#e_title6 {
  left: 758px;
  top: 564px; }

#m_title1 {
  left: 39px;
  top: 139px; }

#m_title2 {
  left: 580px;
  top: 606px; }

#m_title3 {
  left: 900px;
  top: 275px; }

#m_title4 {
  left: 190px;
  top: 626px; }

#m_title5 {
  left: 344px;
  top: 95px; }

#m_title6 {
  left: 760px;
  top: 55px; }

#s_title1 {
  left: 860px;
  top: 138px; }

#s_title2 {
  left: 350px;
  top: 608px; }

#s_title3 {
  left: 471px;
  top: 118px; }

#s_title4 {
  left: 100px;
  top: 76px; }

#s_title5 {
  left: 660px;
  top: 650px; }

#s_title6 {
  left: 24px;
  top: 566px; }

#n_place1 {
  left: 705px;
  top: 402px;
  width: 116px;
  height: 150px; }

#n_place2 {
  left: 578px;
  top: 214px;
  width: 52px;
  height: 208px; }

#n_place3 {
  left: 509px;
  top: 457px;
  width: 122px;
  height: 84px; }

#n_place4 {
  left: 347px;
  top: 251px;
  width: 162px;
  height: 74px; }

#n_place5 {
  left: 290px;
  top: 367px;
  width: 160px;
  height: 90px; }

#n_place6 {
  left: 688px;
  top: 240px;
  width: 173px;
  height: 78px; }

#e_place1 {
  left: 959px;
  top: 251px;
  width: 138px;
  height: 89px; }

#e_place2 {
  left: 448px;
  top: 240px;
  width: 150px;
  height: 96px; }

#e_place3 {
  left: 582px;
  top: 289px;
  width: 142px;
  height: 98px; }

#e_place4 {
  left: 235px;
  top: 286px;
  width: 168px;
  height: 78px; }

#e_place5 {
  left: 16px;
  top: 287px;
  width: 176px;
  height: 55px; }

#e_place6 {
  left: 773px;
  top: 275px;
  width: 158px;
  height: 102px; }

#m_place1 {
  left: 208px;
  top: 220px;
  width: 162px;
  height: 126px; }

#m_place2 {
  left: 483px;
  top: 357px;
  width: 217px;
  height: 114px; }

#m_place3 {
  left: 791px;
  top: 337px;
  width: 149px;
  height: 122px; }

#m_place4 {
  left: 235px;
  top: 357px;
  width: 204px;
  height: 125px; }

#m_place5 {
  left: 439px;
  top: 222px;
  width: 172px;
  height: 105px; }

#m_place6 {
  left: 658px;
  top: 141px;
  width: 162px;
  height: 140px; }

#s_place1 {
  left: 835px;
  top: 239px;
  width: 210px;
  height: 142px; }

#s_place2 {
  left: 449px;
  top: 405px;
  width: 221px;
  height: 161px; }

#s_place3 {
  left: 529px;
  top: 242px;
  width: 171px;
  height: 126px; }

#s_place4 {
  left: 283px;
  top: 177px;
  width: 164px;
  height: 145px; }

#s_place5 {
  left: 730px;
  top: 510px;
  width: 229px;
  height: 130px; }

#s_place6 {
  left: 155px;
  top: 325px;
  width: 176px;
  height: 118px; }

/*----------------loading start----------------*/
.loading {
  z-index: 9999;
  background: #FFFFFB;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; }
  .loading .loading_b {
    width: 300px;
    height: 400px;
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% - 180px); }
    .loading .loading_b .loadingimg {
      padding: 20px 5px;
      width: 300px;
      height: 260px; }
    .loading .loading_b .loadingtext {
      font-size: 2em;
      text-align: center;
      -webkit-animation: flash 1.2s ease-in-out infinite;
              animation: flash 1.2s ease-in-out infinite; }

/*----------------loading end----------------*/
/*----------------prepage start----------------*/
.prepage {
  background: url(../images/layout/notebg1.png) repeat;
  height: 900px;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0; }
  .prepage h1 {
    text-align: center; }
  .prepage .vtext {
    font-size: 20px;
    display: block;
    text-align: center; }
  .prepage .timg {
    width: 330px;
    margin: auto; }
    .prepage .timg img {
      width: 100%;
      height: 100%; }
  @media screen and (min-width: 600px) {
    .prepage {
      height: 1024px;
      width: 1440px h1;
        width-padding-top: 40px; }
      .prepage .vtext {
        position: absolute; }
      .prepage .text1 {
        left: 935px;
        top: 140px; }
      .prepage .text2 {
        left: 1035px;
        top: 190px; }
      .prepage .text3 {
        left: 435px;
        top: 225px; }
      .prepage .timg {
        width: 440px;
        height: 724px;
        position: absolute;
        top: 140px;
        left: calc(100% / 2 - 220px); }
        .prepage .timg img {
          width: 100%;
          height: 100%; } }
  .prepage.prepage_show {
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: prepage_show 1.5s ease-in-out forwards;
            animation: prepage_show 1.5s ease-in-out forwards; }
  .prepage.prepage_hide {
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: prepage_hide 1.5s ease-in-out forwards;
            animation: prepage_hide 1.5s ease-in-out forwards; }

/*----------------prepage end----------------*/
/*----------------back start----------------*/
.backblock {
  width: 100vw;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  overflow: hidden;
  display: none;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  .backblock .backtext {
    background: #000000cc;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center; }
    .backblock .backtext:active {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3); }
  .backblock.back_show {
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: back_show 1s forwards;
            animation: back_show 1s forwards; }
  .backblock.back_hide {
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: back_hide 1s forwards;
            animation: back_hide 1s forwards; }
  @media screen and (min-width: 600px) {
    .backblock {
      width: 200px;
      height: 200px;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 20;
      overflow: hidden;
      display: none; }
      .backblock .back {
        width: 200px;
        height: 200px;
        position: absolute;
        left: -100px;
        top: -100px;
        background: #000000cc;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
        .backblock .back .backtext {
          position: absolute;
          background: none;
          left: 50%;
          bottom: 0;
          line-height: 48px;
          margin-left: -34px;
          color: #FFFFFF; } }

/*----------------back end----------------*/
/*----------------motag start----------------*/
.cmotag {
  margin-top: 60px;
  overflow: hidden; }
  .cmotag .motag {
    display: block;
    float: left;
    text-align: center;
    position: relative; }
    .cmotag .motag:active {
      display: block;
      color: #FFFFFF;
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      -webkit-transform: translate(5px, 5px);
          -ms-transform: translate(5px, 5px);
              transform: translate(5px, 5px); }
    .cmotag .motag a {
      text-decoration: none;
      font-size: 24px;
      line-height: 2.5em;
      padding-left: 60px; }
      .cmotag .motag a img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 1px;
        z-index: -1; }
  @media screen and (min-width: 600px) {
    .cmotag {
      display: none; } }

/*----------------motag end----------------*/
/*----------------nav start----------------*/
nav {
  height: 60px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 60px;
  z-index: 15;
  opacity: .8;
  -webkit-box-shadow: #33333380 5px 5px 10px;
          box-shadow: #33333380 5px 5px 10px; }
  nav .rail {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    background: url(../images/layout/rail.png);
    background-size: cover;
    z-index: 2; }
  nav ul li {
    width: 100%;
    height: 60px;
    font-size: 48px;
    background: #FFFFFF;
    text-align: center;
    line-height: 60px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    nav ul li.nav1 {
      display: block; }
    nav ul li:hover {
      background: #333333; }
    nav ul li a:hover {
      text-decoration: none;
      color: #FFFFFF; }
  @media screen and (min-width: 600px) {
    nav {
      margin: 30px auto;
      width: 550px; }
      nav ul li {
        margin-left: 60px;
        width: 490px; } }

/*----------------nav end----------------*/
/*----------------tape start----------------*/
.tape_l {
  position: absolute;
  z-index: 2;
  left: -65px;
  top: -65px; }
  @media screen and (max-width: 600px) {
    .tape_l {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center; } }

.tape_r {
  position: absolute;
  z-index: 2;
  right: -65px;
  top: -65px;
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1); }
  @media screen and (max-width: 600px) {
    .tape_r {
      -webkit-transform: scale3d(0.7, -0.7, 0.7);
              transform: scale3d(0.7, -0.7, 0.7);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center; } }

.tape_bl {
  position: absolute;
  z-index: 2;
  left: -65px;
  bottom: -65px;
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1); }
  @media screen and (max-width: 600px) {
    .tape_bl {
      -webkit-transform: scale3d(0.7, -0.7, 0.7);
              transform: scale3d(0.7, -0.7, 0.7);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center; } }

.tape_br {
  position: absolute;
  z-index: 2;
  right: -65px;
  bottom: -65px; }
  @media screen and (max-width: 600px) {
    .tape_br {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center; } }

.tape_h {
  position: absolute;
  z-index: 2;
  left: calc(100% / 2 + -110px);
  top: -100px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg); }
  @media screen and (max-width: 600px) {
    .tape_h {
      -webkit-transform: rotate(40deg) scale(0.7);
          -ms-transform: rotate(40deg) scale(0.7);
              transform: rotate(40deg) scale(0.7);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center; } }

@media screen and (max-width: 600px) {
  .tapeone {
    display: none; } }

/*----------------tape end----------------*/
/*----------------tag start----------------*/
.tag {
  width: 260px;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  padding-left: 1.8em;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  margin-bottom: 50px;
  margin-top: 20px; }

.ntag {
  background: url(../images/north/tag.png) no-repeat;
  background-size: 100%;
  background-position: 0 3px; }

.etag {
  background: url(../images/east/tag.png) no-repeat;
  background-size: 100%;
  background-position: 0 3px; }

.mtag {
  background: url(../images/middle/tag.png) no-repeat;
  background-size: 100%;
  background-position: 0 3px; }

.stag {
  background: url(../images/south/tag.png) no-repeat;
  background-size: 100%;
  background-position: 0 3px; }

/*----------------tag end----------------*/
/*----------------btn start----------------*/
.gotop {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #000;
  opacity: 0.6;
  display: none;
  color: #FFFFFF;
  z-index: 50;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  text-decoration: none; }

/*----------------btn end----------------*/
.page {
  width: 100%;
  margin-bottom: 100px; }

/*----------------carousel----------------*/
.carousel-item {
  height: 380px; }

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 5px; }

/*----------------carousel----------------*/
/*----------------page1 start----------------*/
.page1 {
  -webkit-box-shadow: #0000004d 0px 20px 10px;
          box-shadow: #0000004d 0px 20px 10px; }
  .page1 .bpage {
    width: 100%;
    color: #333333;
    position: relative;
    background: url(../images/layout/notebg1.png) repeat; }
    .page1 .bpage .content {
      padding: 20px 10%; }
      .page1 .bpage .content .btitle {
        font-weight: normal;
        font-size: 56px;
        line-height: 56px;
        margin: 25px 0;
        padding: 0 10px;
        width: 440px;
        display: inline-block; }
        @media screen and (min-width: 1200px) {
          .page1 .bpage .content .btitle {
            border: #333333 solid 3px;
            border-bottom: 0px;
            border-top: 0px; } }
      .page1 .bpage .content .text {
        font-size: 24px;
        padding-top: 30px; }
      .page1 .bpage .content .line1 {
        width: 115px;
        border-top: #333333 solid 3px;
        position: absolute;
        left: 0;
        top: 70px; }
      .page1 .bpage .content .line2 {
        width: 434px;
        border-top: #333333 solid 3px;
        display: inline-block;
        margin-left: -4px;
        padding-top: 21px; }

/*----------------page1 end----------------*/
/*----------------page2 start----------------*/
.page2 .col-12 {
  background: url(../images/layout/notebg1.png) repeat;
  padding: 2%;
  -webkit-box-shadow: #0000004d 0px 20px 10px;
          box-shadow: #0000004d 0px 20px 10px; }
  .page2 .col-12 .aticle {
    padding: 0 6% 10% 8%; }

/*----------------page2 end----------------*/
/*----------------page3 start----------------*/
.page3 .p3 {
  padding: 0 20px;
  margin: 50px 0; }
  .page3 .p3 .pcontent {
    background: #FFFFFF;
    padding: 25px;
    -webkit-box-shadow: #0000004d 0px 20px 10px;
            box-shadow: #0000004d 0px 20px 10px;
    overflow: hidden; }
    .page3 .p3 .pcontent .pimg {
      margin: auto; }
    .page3 .p3 .pcontent h3 {
      padding: 10px 0; }

/*----------------page3 end----------------*/
/*----------------page4 start----------------*/
.page4 .col-12 {
  background: url(../images/layout/notebg1.png) repeat;
  padding-bottom: 100px;
  -webkit-box-shadow: #0000004d 5px 5px 10px;
          box-shadow: #0000004d 5px 5px 10px; }
  .page4 .col-12 .content {
    border: #979797 solid 1px;
    -webkit-box-shadow: #0000004d 0 0 5px;
            box-shadow: #0000004d 0 0 5px;
    padding: 20px; }
    .page4 .col-12 .content .avatar {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      overflow: hidden;
      -webkit-box-shadow: #0000004d 4px 4px 4px;
              box-shadow: #0000004d 4px 4px 4px; }
      @media screen and (max-width: 600px) {
        .page4 .col-12 .content .avatar {
          height: 80px;
          width: 80px; } }
    .page4 .col-12 .content .col-9 {
      padding-left: 30px; }
      .page4 .col-12 .content .col-9 h4 {
        font-weight: normal; }
      .page4 .col-12 .content .col-9 .star img {
        display: inline-block;
        width: 50px;
        padding: 5px 0;
        margin-left: -5px; }

.page4 .col-lg-6 {
  padding: 10px; }

/*----------------page4 end----------------*/
/*----------------page5 start----------------*/
.page5 .vcontent {
  padding: 0 50px 100px 50px; }
  .page5 .vcontent .note .content {
    padding: 15px;
    background: url(../images/layout/notebg1.png) repeat;
    -webkit-box-shadow: #0000004d 5px 5px 10px;
            box-shadow: #0000004d 5px 5px 10px; }
    .page5 .vcontent .note .content .text {
      text-align: right; }
  .page5 .vcontent .note .col-lg-4 {
    padding: 10px; }

/*----------------page5 end----------------*/
/*----------------page6 start----------------*/
.page6 .vcontent {
  padding-bottom: 100px;
  margin-top: 100px;
  position: relative; }
  .page6 .vcontent .col-lg-6 {
    padding: 0 20px 20px 20px; }
  .page6 .vcontent .lcontent {
    background: #FFFFFF;
    padding: 20px;
    -webkit-box-shadow: #0000004d 5px 5px 10px;
            box-shadow: #0000004d 5px 5px 10px;
    margin-bottom: 30px; }
  .page6 .vcontent .rcontent {
    background: url(../images/layout/notebg1.png) repeat;
    padding: 20px;
    -webkit-box-shadow: #0000004d 5px 5px 10px;
            box-shadow: #0000004d 5px 5px 10px; }

/*----------------page6 end----------------*/
@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes flash {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes prepage_show {
  0% {
    -webkit-transform: scale(-2);
            transform: scale(-2); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes prepage_show {
  0% {
    -webkit-transform: scale(-2);
            transform: scale(-2); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes prepage_hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  10% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  40% {
    opacity: 1; }
  70% {
    opacity: 0; }
  100% {
    -webkit-transform: scale(-2);
            transform: scale(-2);
    opacity: 0; } }

@keyframes prepage_hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  10% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  40% {
    opacity: 1; }
  70% {
    opacity: 0; }
  100% {
    -webkit-transform: scale(-2);
            transform: scale(-2);
    opacity: 0; } }

@-webkit-keyframes back_show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes back_show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes back_hide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes back_hide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes nsp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px); }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes nsp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px); }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.nsp, .page2.nsp, .page3 .p3.s_page.nsp, .page5 .vcontent .note.nsp {
  visibility: hidden;
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.sp, .page2.sp, .page3 .p3.s_page.sp, .page5 .vcontent .note.sp {
  visibility: visible;
  -webkit-animation: nsp;
          animation: nsp;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

/*# sourceMappingURL=all.css.map */
