#north.map.momap
  .tape_l.ntape
    img(src='images/north/tape.png')
  .tape_r.ntape
    img(src='images/north/tape.png')
  .title
    #n_title1.stitle.ap
      a(href='#n1_page') 九份
    #n_title2.stitle.ap
      a(href='#n2_page') 台北101
    #n_title3.stitle.ap
      a(href='#n3_page') 貓空
    #n_title4.stitle.ap
      a(href='#n5_page') 淡水老街
    #n_title5.stitle.ap
      a(href='#n4_page') 中正紀念堂
    #n_title6.stitle.ap
      a(href='#n6_page') 望幽谷
  .fground
    .ground
      #n_place1.place.ap
        a(href='#n1_page')
          img(src='images/north/north1.png')
      #n_place2.place.ap
        a(href='#n2_page')
          img(src='images/north/north2.png')
      #n_place3.place.ap
        a(href='#n3_page')
          img(src='images/north/north3.png')
      #n_place4.place.ap
        a(href='#n5_page')
          img(src='images/north/north4.png')
      #n_place5.place.ap
        a(href='#n4_page')
          img(src='images/north/north5.png')
      #n_place6.place.ap
        a(href='#n6_page')
          img(src='images/north/north6.png')
#east.map.momap
  .tape_l.etape
    img(src='images/east/tape.png')
  .tape_r.etape
    img(src='images/east/tape.png')
  .title
    #e_title1.stitle.ap
      a(href='#e6_page') 台東森林公園
    #e_title2.stitle.ap
      a(href='#e3_page') 花蓮市區
    #e_title3.stitle.ap
      a(href='#e4_page') 玉山國家公園
    #e_title4.stitle.ap
      a(href='#e2_page') 礁溪溫泉
    #e_title5.stitle.ap
      a(href='#e1_page') 蘭陽博物館
    #e_title6.stitle.ap
      a(href='#e5_page') 縱谷平原
  .fground
    .ground
      #e_place1.place.ap
        a(href='#e6_page')
          img(src='images/east/east1.png')
      #e_place2.place.ap
        a(href='#e3_page')
          img(src='images/east/east2.png')
      #e_place3.place.ap
        a(href='#e4_page')
          img(src='images/east/east3.png')
      #e_place4.place.ap
        a(href='#e2_page')
          img(src='images/east/east4.png')
      #e_place5.place.ap
        a(href='#e1_page')
          img(src='images/east/east5.png')
      #e_place6.place.ap
        a(href='#e5_page')
          img(src='images/east/east6.png')
#middle.map.momap
  .tape_l.mtape
    img(src='images/middle/tape.png')
  .tape_r.mtape
    img(src='images/middle/tape.png')
  .title
    #m_title1.stitle.ap
      a(href='#m2_page') 中社
    #m_title2.stitle.ap
      a(href='#m4_page') 鹿港
    #m_title3.stitle.ap
      a(href='#m6_page') 布袋港
    #m_title4.stitle.ap
      a(href='#m3_page') 科博館
    #m_title5.stitle.ap
      a(href='#m5_page') 逢甲夜市
    #m_title6.stitle.ap
      a(href='#m1_page') 日月潭
  .fground
    .ground
      #m_place1.place.ap
        a(href='#m2_page')
          img(src='images/middle/middle1.png')
      #m_place2.place.ap
        a(href='#m4_page')
          img(src='images/middle/middle2.png')
      #m_place3.place.ap
        a(href='#m6_page')
          img(src='images/middle/middle3.png')
      #m_place4.place.ap
        a(href='#m3_page')
          img(src='images/middle/middle4.png')
      #m_place5.place.ap
        a(href='#m5_page')
          img(src='images/middle/middle5.png')
      #m_place6.place.ap
        a(href='#m1_page')
          img(src='images/middle/middle6.png')
#south.map.momap
  .tape_l.stape
    img(src='images/south/tape.png')
  .tape_r.stape
    img(src='images/south/tape.png')
  .title
    #s_title1.stitle.ap
      a(href='#s5_page') 墾丁公園
    #s_title2.stitle.ap
      a(href='#s4_page') 旗津
    #s_title3.stitle.ap
      a(href='#s3_page') 駁二特區
    #s_title4.stitle.ap
      a(href='#s1_page') 安平古蹟
    #s_title5.stitle.ap
      a(href='#s6_page') 琉球嶼
    #s_title6.stitle.ap
      a(href='#s2_page') 七股瀉湖
  .fground
    .ground
      #s_place1.place.ap
        a(href='#s5_page')
          img(src='images/south/south1.png')
      #s_place2.place.ap
        a(href='#s4_page')
          img(src='images/south/south2.png')
      #s_place3.place.ap
        a(href='#s3_page')
          img(src='images/south/south3.png')
      #s_place4.place.ap
        a(href='#s1_page')
          img(src='images/south/south4.png')
      #s_place5.place.ap
        a(href='#s6_page')
          img(src='images/south/south5.png')
      #s_place6.place.ap
        a(href='#s2_page')
          img(src='images/south/south6.png')
