#n_page.mopageremote
  #n1_page.tp
    .tape_l.ntape.tapeone
      img(src='images/north/tape.png')
    .tape_r.ntape.tapeone
      img(src='images/north/tape.png')
    #n1_page1.page.page1
      #carouselExampleIndicators.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page1/bimg1-l.jpg')
              img.d-block.w-100(src='images/north/page1/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page1/bimg2-l.jpg')
              img.d-block.w-100(src='images/north/page1/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page1/bimg3-l.jpg')
              img.d-block.w-100(src='images/north/page1/bimg3-s.jpg')
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 九份
          .line2
          .text 九份位於臺灣東北部，臨山靠海，與基隆山遙望；整個小鎮座落於山坡地上，也因此形成了獨特的山坡和階梯式建築景觀 
    #n1_page2.page.page2.nsp
      .col-12
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 特色
        .aticle
          | 九份的懷舊景觀吸引許多觀光客的到訪，主要聚集在基山街、豎崎路及輕便路等街道。
          br
          br
          |                         基山街：有「九份老街」之稱，是九份最熱鬧的街道，由於這裡曾是民眾夜晚常聚之所，所以在過去又稱「暗街」，無論是平日或假日皆有絡繹不絕的擁擠人潮，小吃芋仔番薯、九份第一家開業，擁有百年以上歷史建築的九份茶坊，以及九份文史工作室都設置於此，還有觀景台可遠眺海景。基山街內的九重町客棧是九份一個舊式建築中的佳作，橘黃色燈光也給人懷舊的印象。
          br
          br
          |                         豎崎路：是特殊的「丰」字道路，為九份的直向道路，為一條300多階石梯的階梯路，有很多觀景茶館聚集於此街道。舊道口（基山街口）也設有觀景台，可從九份觀賞北海岸的綿延海景。很多舊式建築都聚集在此，觀景茶館聚集，其中在豎崎路與輕便路交會處可看到九份最著名的建築，也是全台灣首家電影院－昇平戲院。
          br
          br
          |                         輕便路：此路原是條通往五番坑礦坑的台車道（昔稱輕便車），後來台車道於1954年拆除後，便成為九份的重要街道。輕便路前段有城隍廟和教會，是當地的宗教信仰區。不少民宿聚集在此，有九份金礦城懷舊壁畫，還有一些花店也在輕便路上。
          br
          br
          |                         穿屋巷：指連接主要道路的小巷弄，不但可省下來回折返丰字路的時間，也可避開壅擠人潮。
          br
          br
          |                         這個沒落數十載的小城，又三度勾起了人們的注視與回憶。昔日繁華的老街、廢棄的礦坑、自成一格的礦區風光與淘金史，經由媒體的一再傳播，吸引了四方尋找靈感的藝術家尋蹤到此，嚮往復古的遊客也大量前來緬懷思古、細細品味這悲情城市中的有情天地。
    #n1_page3.page.page3.clearfix
      .tag.ntag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page1/imgplace1.jpg')
          h3 福山宮
          .text
            | 福山宮中供奉著兩對土地公及土地婆，是日據時期台灣規模最大的土地公廟，其中一對土地公婆因年代久遠已風化嚴重，福山宮可說是九份礦業自興盛到衰落的見證者。廟宇附近種植眾多櫻花，現今到了春季花期時繁花盛開，美不勝收。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page1/imgplace2.jpg')
          h3 阿妹茶樓
          .text
            | 位於九份老街豎崎路上的阿妹茶樓，是九份茶館中的指標名店，許多九份的宣傳照、海報及各式照片，只要帶到豎崎路的畫面，阿妹茶樓四個大字，往往都會出現在畫面裡。這家九份老茶館，充滿著古色古香與九份的歷史氛圍。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page1/imgplace3.jpg')
          h3 黃金博物館
          .text
            | 九份是曾經的淘金小鎮，曾因採金有過一段繁榮的歷史，九份金礦博物館位在九份老街旁，館中展示許多九份採礦的資料與圖片，詳細介紹著九份的採金歷史及採金至煉金的過程。館內擺設多塊金礦原石、雅石及淘金、煉金等工具。
    #n1_page4.page.page4
      .col-12.clearfix
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood1.jpg')
            .col-9.float-left
              h4 阿柑姨芋圓
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市瑞芳區豎崎路5號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood2.jpg')
            .col-9.float-left
              h4 黃金魚蛋
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市瑞芳區基山街51號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood3.jpg')
            .col-9.float-left
              h4 阿雲阿婆魚羹
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 新北市瑞芳區基山街51號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood4.jpg')
            .col-9.float-left
              h4 阿蘭草仔粿
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市瑞芳區基山街90號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood5.jpg')
            .col-9.float-left
              h4 賈船長長葉蛋
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 新北市瑞芳區基山街101號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood6.jpg')
            .col-9.float-left
              h4 郵局前油蔥粿
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 新北市瑞芳區基山街111號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood7.jpg')
            .col-9.float-left
              h4 阿英紅糟肉圓
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市瑞芳區基山街114號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood8.jpg')
            .col-9.float-left
              h4 九份旺角現炸蝦球
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市瑞芳區基山街3號
    #n1_page5.page.page5
      .tag.ntag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #n1_page6.page.page6
      .tag.ntag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.7633931348496!2d121.84299401490306!3d25.10986948393687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4517fafb9471%3A0x5f15825aa6a4a7d2!2z5Lmd5Lu96ICB6KGX!5e0!3m2!1szh-TW!2stw!4v1557247355223!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .rcontent
            div 地址
            .pb-3 新北市瑞芳區基山街、輕便路、汽車路、豎崎路一帶
            .pb-3 景點資訊
            div
              | 02-2406-3270(九份遊客中心)
              br
              |                                     自行開車：
              br
              |                                     國道1號-八堵交流道下-省道臺62線-瑞芳交流道下-省道臺2丁線-縣道102線。
              br
              |                                     大眾運輸：
              br
              |                                     搭高鐵或臺鐵至臺北站下-轉搭臺北捷運至忠孝復興站下-轉搭基隆客運(往金瓜石)至九份站下。
  #n2_page.tp
    .tape_l.ntape
      img(src='images/north/tape.png')
    .tape_r.ntape
      img(src='images/north/tape.png')
    #n2_page1.page.page1
      #carousel_n2_page.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_n2_page', data-slide-to='0')
          li(data-target='#carousel_n2_page', data-slide-to='1')
          li(data-target='#carousel_n2_page', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page2/bimg1-l.jpg')
              img.d-block.w-100(src='images/north/page2/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page2/bimg2-l.jpg')
              img.d-block.w-100(src='images/north/page2/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page2/bimg3-l.jpg')
              img.d-block.w-100(src='images/north/page2/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_n2_page', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_n2_page', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 台北101
          .line2
          .text 一座傑出的地標建築，足以改變這個城市。如同帝國大廈之於紐約、艾菲爾鐵塔之於巴黎、更如晚近的金茂大廈之於上海。
    #n2_page2.page.page2.nsp
      .col-12
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 特色
        .aticle
          | 五樓售票處購買入場券後，於排隊區欣賞多媒體影片，再搭乘金氏世界紀錄最快速恆壓電梯直上89樓觀景台。觀景台兩部專用最快速電梯以每分鐘1010公尺的速度，僅需37秒即可達89樓觀景台。
          br
          br
          |                                 台北 101 MALL精選國際時尚與精緻美饌，貼心考量消費者的需求，以世界級空間設計規劃，完美凝聚質感、氛圍、與建築藝術，以有形空間開創無限意境，讓購物成為輕鬆舒適的享受台北 101 MALL將和紐約的「第五大道」、巴黎的「香榭麗舍大道」、羅馬的「西班牙大道」等高級精品區劃上等號。
          br
          br
          |                                 臺灣位於地震帶上，在台北盆地的範圍內，又有3條小斷層及輕度土壤液化，為了興建台北101，這個建築的設計必定要能防止強震的破壞。臺灣每年夏天都會受到太平洋上形成的颱風影響，防震和防風是台北101所需克服的2大問題。
          br
          br
          |                                 為了因應高空強風及颱風吹拂造成的搖晃，在87至92樓掛置一個重達661.02公噸、直徑5.5公尺的調諧質塊阻尼器（又稱「調質阻尼器」），利用巨大鋼球的擺動來減緩建築物的晃動幅度。是全球唯二開放遊客觀賞的巨型阻尼器。
          br
          br
          |                                 整個大樓模仿「鼎」字建成，本身有聚寶盆的隱喻，而看上去就像竹子一樣一節一節，象徵節節高升。中間有八個倒梯形，因為在中國古代，不可能「十」全十美，而「九」只屬天子，造成了「八」這個數，而每層倒梯形則都有八層樓。在這下方有個中國的古錢幣，邊邊有傳統雲紋（如意）的圖案。每個竹節的最高樓層皆為機房層。ｚ
    #n2_page3.page.page3.clearfix
      .tag.ntag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page2/imgplace1.jpg')
          h3 超高速電梯
          .text
            | 台北101觀景台配置兩部超高速電梯，上升速度每分鐘可達1010公尺。由5樓至89樓觀景台僅需37秒。 此二部電梯更是全球唯一配置車廂內恆壓裝置阻尼器 ，以及採用耐高溫陶瓷煞車系統等，集高科技於一身的智慧型高速電梯。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page2/imgplace2.jpg')
          h3 風阻尼球
          .text
            | 台北101觀景台的風阻尼球 (Wind Damper)，是世界最大，直徑達5.5公尺；世界最重，總重量達660公噸，唯一外露供參觀的風阻尼球；由41層厚達12.5公分的鋼板焊接而成，由92F懸吊到87F，是台北101大樓防風抗震的重要結構之一。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page2/imgplace3.jpg')
          h3 購物中心
          .text
            | 台北 101購物中心群樓商場有地上101層、地下5層、高508米樓是目前世界最高樓
            | 台北 101購物中心挑高寬敞的設計空間，給消費者感受前所未有的購物享受及絕無僅有的視覺空間感受。
    #n2_page4.page.page4
      .col-12.clearfix
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood1.jpg')
            .col-9.float-left
              h4 小南門豆花
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市信義區市府路45號B1
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood2.jpg')
            .col-9.float-left
              h4 欣葉食藝軒
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市信義區5段7號85樓之1
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood3.jpg')
            .col-9.float-left
              h4 隨意鳥地方
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市信義區信義路五段7號85樓
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood4.jpg')
            .col-9.float-left
              h4 紅花鐵板燒
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市信義區市府路45號5樓
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood5.jpg')
            .col-9.float-left
              h4 甘牌燒味
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市信義區市府路45號B1
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood6.jpg')
            .col-9.float-left
              h4 了凡雞肉飯
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市信義區市府路45號B1
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood7.jpg')
            .col-9.float-left
              h4 鼎泰豐
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市信義區市府路45號B1
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood8.jpg')
            .col-9.float-left
              h4 八月堂
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市信義區信義路五段7號B1
    #n2_page5.page.page5
      .tag.ntag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 太平洋商旅
            ul
              li 住宿地址
              li.pb-3 No. 495光復南路信義區台北市
              li 聯絡電話
              li.pb-3 02 8780 8000
              li 房間價格
              li.pb-3 3382起
              li 相關網址
              li.pb-3 http://www.businesscenter.com.tw
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 窩工作旅店101館
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 正旅館信義館
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 太空艙旅舍信義館
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 思泊客台北101
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 W Taipei
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 台北君悅酒店
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 晶璽商旅
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 窩工作旅店101館
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #n2_page6.page.page6
      .tag.ntag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13951.377248683882!2d121.56071899381682!3d25.03349137496771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da9c9e1f%3A0x1206bcf082fd10a6!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZn-WPsOWMlzEwMeWkp-aokw!5e0!3m2!1szh-TW!2stw!4v1557247289927!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .rcontent
            div 地址
            .pb-3 台北市信義區信義路五段7號
            .pb-3 景點資訊
            div
              | 自行開車
              br
              |                                         1、國道3號─由木柵交流道下，再連接至台北市聯絡道路至辛亥路三段後，行駛至基隆路二段再往北行駛至基隆路、信義路口即可到達台北101
              br
              |                                         大眾運輸
              br
              |                                         公車：
              br
              |                                         1、搭乘207、537、信義幹線)、藍5至世貿中心站即可到達
              br
              |                                         2、搭乘1、284、292、611、650至世貿中心站即可到達
              br
              |                                         捷運：
              br
              |                                         1、搭乘捷運板南線至「市政府」站下車，由出口2往信義路方向步行約10分鐘即可到達。
              br
              |                                         2、搭乘捷運信義線至「台北101」站下車，由出口4出站即可抵達。
              br
  #n3_page.tp
    .tape_l.ntape
      img(src='images/north/tape.png')
    .tape_r.ntape
      img(src='images/north/tape.png')
    #n3_page1.page.page1
      #carousel_n3_page.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_n3_page', data-slide-to='0')
          li(data-target='#carousel_n3_page', data-slide-to='1')
          li(data-target='#carousel_n3_page', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page3/bimg1-l.jpg')
              img.d-block.w-100(src='images/north/page3/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page3/bimg2-l.jpg')
              img.d-block.w-100(src='images/north/page3/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page3/bimg3-l.jpg')
              img.d-block.w-100(src='images/north/page3/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_n3_page', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_n3_page', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 貓空
          .line2
          .text 貓空纜車為臺北市第一條纜車系統，最短發車間隔為12秒，全程搭乘時間約為20分鐘。在纜車上能從高空俯瞰貓空茶園的景色，隨著纜車上山，也別有一番刺激感。
    #n3_page2.page.page2.nsp
      .col-12
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 特色
        .aticle
          | 全長4.03公里的貓空纜車，是臺北市內的第一條纜車系統，單程一趟大約20到30分鐘，分別設「動物園站」、「動物園內站」、「指南宮站」、「貓空站」四個站讓乘客上下車；搭貓空纜車很簡單，只要捷運文湖線坐到最後一站「動物園站」，就可以走到纜車動物園站轉搭貓空纜車。
          br
          br
          |                                 搭纜車最美的三個時刻，就是在雨後的雲霧、黃昏的晚霞和燦爛的夜景，當您坐上纜車，隨著山勢的起伏前進，可眺望行進中的捷運列車、景美溪畔的河濱公園和長頸鹿焚化爐；來到轉角2站時，會有個大轉彎，這時視野大開，可俯瞰高速公路車潮景像；過了指南宮站後，就開始進入一個V字型的大陡坡，也是纜車旅程中的最高潮，這種感覺會讓您今生難忘。
          br
          br
          |                                 貓空站是纜車的終點站，這裡到處都是茶園和茶坊，很多民眾會特地來這喝茶聊八卦。如果您來貓空，不妨找間茶坊，喝喝有名的「木柵鐵觀音」和「文山包種茶」，然後邊品嚐美味的特色茶餐，邊欣賞臺北盆地的美景，才算不虛此行！
          br
    #n3_page3.page.page3.clearfix
      .tag.ntag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page3/imgplace1.jpg')
          h3 樟樹步道魯冰花海
          .text 樟樹步道是一道平緩無階梯的步道，長約1.2公里，沿途設置有涼亭、景觀花海、水池及農村景觀設施等，步道平緩好走，非常適合親子同遊，現已成為貓空最熱門步道之一。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page3/imgplace2.jpg')
          h3 臺北市立動物園
          .text
            | 臺北市立動物園，園區總面積原為182公頃，隨後因捷運動物園站及北二高的開闢，移撥出部分土地，目前仍有165公頃之廣，其中已開發使用區域近百公頃。園內包含8個戶外展示區、6個室內展示館、5個環境教育教學場所。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page3/imgplace3.jpg')
          h3 貓纜之眼
          .text
            | 「貓纜之眼」水晶車廂係將原車廂底部改裝為3層強化玻璃，總厚度約48公釐，玻璃重量約213公斤，該透明地板皆通過歐洲CE安全認證，每部限乘5人，水晶車廂共推出31臺，平均約2～4分鐘可提供一部「貓纜之眼」水晶車廂載客。
    #n3_page4.page.page4
      .col-12.clearfix
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood1.jpg')
            .col-9.float-left
              h4 綠續緣茶藝
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市文山區指南路三段38巷16號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood2.jpg')
            .col-9.float-left
              h4 上暘茶莊
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市文山區指南路三段38巷16之2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood3.jpg')
            .col-9.float-left
              h4 貓空茶屋
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 臺北市文山區指南路三段38巷16-8號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood4.jpg')
            .col-9.float-left
              h4 四哥的店
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市文山區指南路三段38巷33-1號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood5.jpg')
            .col-9.float-left
              h4 清泉山莊
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市文山區指南路三段38巷33-3號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood6.jpg')
            .col-9.float-left
              h4 貓空茶言觀色
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市文山區指南路三段38巷20號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood7.jpg')
            .col-9.float-left
              h4 龍門客棧
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市文山區指南路三段38巷22之2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood8.jpg')
            .col-9.float-left
              h4 貓空四爺SIHYE
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市文山區指南路三段38巷16-2號
    #n3_page5.page.page5
      .tag.ntag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #n3_page6.page.page6
      .tag.ntag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11467.22571881206!2d121.56993698205505!3d24.99583392617076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa8b314e950f%3A0xf35a322ce7005cc1!2z6LKT56m657qc6LuK!5e0!3m2!1szh-TW!2stw!4v1557247165813!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .rcontent
            div 地址
            .pb-3 台北市文山區萬興里新光路二段8號
            .pb-3 景點資訊
            div
              | 搭捷運
              br
              |                                     請搭乘捷運文湖線至動物園站後，再步行至纜車動物園站(約350公尺) 。
              br
              |                                     請搭乘板南線，在市政府站下車，再轉乘綠1、棕18或棕21公車。
              br
              br
              |                                     搭公車 
              br
              |                                     請搭乘66、236區、237、282、294、295、611、676、679、679區、793、933、1501（假日停駛）、1503（假日停駛）、1558、小12、棕3、棕6、棕11、棕15、棕15區、棕18、棕21、綠1、貓空左線(動物園)、羅斯福路幹線等路線公車到貓纜動物園站下車即達。【查詢公車路線】。
              br
              br
              |                                     自行開車 
              br
              |                                     國道1號(中山高速公路)：
              br
              |                                     建國北路高架道 → 下辛亥路左轉 → 國道3號臺北聯絡道 → 萬芳交流道(往木柵方向) → 左轉木柵路 → 右轉萬福橋 → 右轉新光路。
              br
              |                                     國道3號(福爾摩沙高速公路)：
              br
              |                                     木柵交流道 → 國道3號臺北聯絡道 → 萬芳交流道(往木柵方向) → 左轉木柵路 → 右轉萬福橋 → 右轉新光路。
  #n4_page.tp
    .tape_l.ntape
      img(src='images/north/tape.png')
    .tape_r.ntape
      img(src='images/north/tape.png')
    #n4_page1.page.page1
      #carousel_n4_page.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_n4_page', data-slide-to='0')
          li(data-target='#carousel_n4_page', data-slide-to='1')
          li(data-target='#carousel_n4_page', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page4/bimg1-l.jpg')
              img.d-block.w-100(src='images/north/page4/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page4/bimg2-l.jpg')
              img.d-block.w-100(src='images/north/page4/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page4/bimg3-l.jpg')
              img.d-block.w-100(src='images/north/page4/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_n4_page', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_n4_page', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 中正紀念堂
          .line2
          .text 占地廣闊，建築造型仿北平天壇及埃及金字塔，內部設有文物展視室、演講廳、藝廊、中正紀念圖書館、先總統 蔣公紀念室等
    #n4_page2.page.page2.nsp
      .col-12
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 特色
        .aticle
          | 國立中正紀念堂位於台北市中心的杭州南路以西、中山南路以東、愛國東路以北、信義路以南的範圍，佔地75000坪，國立中正紀念堂大門外有『大中至正』四字牌樓，接著是寬長的瞻仰大道，兩旁遍植花草綠樹，一片綠意盎然。國立中正紀念堂的舊址在日治時代為台灣陸軍步兵第一聯隊與山砲隊之軍事用地。位於東門外，於民國六十四年開始規劃，把林森南路移到地下進行整體的規劃。
          br
          |                                 自先總統 蔣公於民國64年4月5日逝世，海、內外國民同胞為了表達對蔣公最崇高的敬意與永恆的懷念，行政院接受各界建議與治喪大員會議之決議，決定在臺北市興建國立中正紀念堂，並於69年3月底完成，同年4月5日正式對外開放。國立中正紀念堂更從1990年到2000年共11年間，一直作為臺灣燈會主場地。
          br
          |                                 國立中正紀念堂其頂仿北京天壇模式，四面構造仿埃及金字塔；國立中正紀念堂的白色大理石、寶藍色的琉璃瓦、滿園遍植的紅花，就如同青天白日滿地紅的象徵。國立中正紀念堂正廳恭置 蔣公坐姿銅像，底座部份設有展覽室和放映室，陳列蔣公一生對國家民族偉大勳業之文物，供民眾參觀，國立中正紀念堂左右分列戲劇院與音樂廳，提供國際性的藝文表演，古色古香的中國宮殿式建築，莊嚴宏偉，許多國內外之文化表演均在此進行。
          br
          |                                 國立中正紀念堂南北兩側各有一個側門，北側面臨信義路為大忠門；南側面臨愛國東路為大孝門，園內南北兩側有雲漢池及光華池，三處健身場，二條健康步道以及三個盆景區，庭園建築結合自然環境與人文空間，具有中國「天人合一」的美學風格，成為現代繁忙社會中，一塊幽靜的園地。國立中正紀念堂外的中正公園，綠茵如氈，曲橋、石徑、池塘等，令人倍感典雅，極富古意的城牆圍繞在四周，中國傳統庭園藝術之美，同時也提供市民文化育樂及社會教育活動。
          br
          |                                 由於國立中正紀念堂占地廣闊、建築美麗，常常是大台北地區民眾例假日休閒旅遊、活動聚會及婚紗攝影的最佳旅遊地，更成為外國人來台旅遊必訪的景點之一。由於國立中正紀念堂為台北旅遊勝地，因此中正區旅館業者的興起，讓國外人士來到國立中正紀念堂旅遊，能夠更盡興的玩完台北，造就中正區旅遊的風潮，讓台北成為世界聞名的觀光勝地。此外，每天上午9時至下午5時整點的儀隊交接，也是國立中正紀念堂的特色之一。
    #n4_page3.page.page3.clearfix
      .tag.ntag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page4/imgplace1.jpg')
          h3 兩廳院
          .text
            | 臺灣首座國家級的文化園區－兩廳院，落成於1987年，是臺灣表演藝術最專業的劇場，也是臺北重要的觀光地標，二座主要建築融合中國宮殿式樣，搭配黃瓦飛簷、紅柱彩拱，氣勢典雅壯觀，構築出優雅而富藝術情趣的生活空間。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page4/imgplace2.jpg')
          h3 中正紀念公園
          .text
            | 中式園林造景的中正紀念公園，以大孝門、大忠門及正面牌樓為三大主要出入口及參觀動線，可直通主堂體。園區內大小不一的花圃星羅棋布，栽植超過30萬株各式特色花卉，常青的樹木四季蒼鬱茂盛、綠意盎然，時令花木，如潔白的梅花、緋紅的櫻花、多彩的杜鵑、耀黃的台灣欒樹，隨著四季遞嬗，為公園綴上豐富的色彩，妝點出不同的風情。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page4/imgplace3.jpg')
          h3 自由廣場牌樓
          .text
            | 中正紀念堂牌樓，面對中山南路及國家圖書館，高30公尺，是台北市區內最大的牌樓。牌樓之上的牌匾題字原為「大中至正」，故此牌樓也被稱為「大中至正門」；2007年12月8日之後，被更換為「自由廣場」四字。
    #n4_page4.page.page4
      .col-12.clearfix
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood1.jpg')
            .col-9.float-left
              h4 金峰滷肉飯
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市中正區羅斯福路一段10號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood2.jpg')
            .col-9.float-left
              h4 早澤
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市中正區南昌路一段74巷18-2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood3.jpg')
            .col-9.float-left
              h4 ebisu curry
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市中正區寧波西街78號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood4.jpg')
            .col-9.float-left
              h4 香色 XIANG SE
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市中正區湖口街1-2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood5.jpg')
            .col-9.float-left
              h4 Cafe de Gear
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市中正區寧波東街3-3號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood6.jpg')
            .col-9.float-left
              h4 杭州小籠湯包
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市大安區杭州南路二段19號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood7.jpg')
            .col-9.float-left
              h4 高三孝碳烤土司
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市中正區南昌路一段31巷11-4號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood8.jpg')
            .col-9.float-left
              h4 合歡刀削麵
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 台北市中正區羅斯福路一段8號206號攤2樓南門市場飲食部
    #n4_page5.page.page5
      .tag.ntag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #n4_page6.page.page6
      .tag.ntag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4938.234763686082!2d121.51942932087138!3d25.034086976823577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a99db9a2a94d%3A0x43e9034292df69b2!2z5Lit5q2j57SA5b-15aCC!5e0!3m2!1szh-TW!2stw!4v1557246986109!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .rcontent
            div 地址
            .pb-3 台北市中正區中山南路21號
            .pb-3 景點資訊
            div
              | 捷運：
              br
              |                                     搭乘捷運淡水線至中正紀念堂站下車，由5號出口步行約12分鐘即抵；或搭乘中和新蘆線至東門站3號出口，步行約8分鐘即可到達中正紀念堂。
              br
              br
              |                                         公車：搭乘 15、18、20、22、 37、204、208、214、236、248、249、251、252、261、263、270、293、297、621、623、630、651、信義線等台北市聯營公車，於中正紀念堂站或南門市場站下車，步行即可到達中正紀念堂。
  #n5_page.tp
    .tape_l.ntape
      img(src='images/north/tape.png')
    .tape_r.ntape
      img(src='images/north/tape.png')
    #n5_page1.page.page1
      #carousel_n5_page1.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_n5_page1', data-slide-to='0')
          li(data-target='#carousel_n5_page1', data-slide-to='1')
          li(data-target='#carousel_n5_page1', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page5/bimg1-l.jpg')
              img.d-block.w-100(src='images/north/page5/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page5/bimg2-l.jpg')
              img.d-block.w-100(src='images/north/page5/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page5/bimg3-l.jpg')
              img.d-block.w-100(src='images/north/page5/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_n5_page1', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_n5_page1', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 淡水老街
          .line2
          .text 迷人的淡水老街，有著號稱全台最美的漁人碼頭浪漫夕陽景致，也有眾多備受讚譽的小吃美食如阿給、魚丸等
    #n5_page2.page.page2.nsp
      .col-12
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 特色
        .aticle
          | 「淡水老街」不僅早已是全台知名熱門景點，同時也吸引不少外國人慕名而來。這裡街道兩旁林立熱鬧商店，有濃濃古早味的餅舖、雜貨店，也有賣潮流服飾、玩具，當然還有最吸引人的人氣美食如阿給、魚丸，另外還有古蹟可參觀，怎麼玩都不會膩。淡水老街分成外側靠淡水河岸的部分(金色水岸步道)與內側的老街，四處可見此區著名的古早味現烤蛋糕、烤魷魚、阿婆鐵蛋、魚酥、巨無霸冰淇淋還有淡水魚丸等等，都是來到此地必吃不可的美食。 
          br
          br
          |                                 從淡水捷運站走出來右轉，中正路及延伸的重建街、清水街一帶，就是鼎鼎大名的淡水老街。 
          br
          |                                 淡水老街分成內外兩側，外側是靠淡水河岸的金色水岸步道，內側是的傳統老街，這裡街道兩旁林立熱鬧商店，有濃濃古早味的餅舖、雜貨店，也有賣潮流服飾與玩具。此區著名的人氣美食如阿給、魚丸、魚酥、古早味現烤蛋糕、阿婆鐵蛋等，都是來到這裡必吃不可的美食。傍晚時，在金色水岸步道還可欣賞夕陽落入海面的美景。 
          br
          br
          |                                 位於山坡上的重建街由於發展較早，因此兩旁仍有許多木造與磚造的老房舍，走到街底還能從高處遠眺淡水河口。後來因商業發展關係，形成另一條與重建街平行的街道，主要是以米店、碾米業為主，因此稱「米市仔」(現在清水街的北段)，直到清水祖師廟興建後，米市街才改名清水街。 
          br
          br
          |                                 中正路老街往前行可看見紀念對淡水影響很深的馬偕博士之馬偕石像公園，沿路還有清水祖師廟、福佑宮、滬尾偕醫館、淡水禮拜堂等古蹟。在老街除了尋幽訪勝，老街內的特色商店更是逛街及享受美食的好地方。 
          br
          |                                 淡水必吃的在地美食「阿給」是從日文「油豆腐」的部分發音直譯而來，作法是將油豆腐中間挖空，填加炒過的冬粉然後浸泡滷汁，再用魚漿封口加以蒸煮，最後淋上甜辣醬或是店家獨門的秘密醬料。 
          br
    #n5_page3.page.page3.clearfix
      .tag.ntag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page5/imgplace1.jpg')
          h3 漁人碼頭
          .text
            | 位於淡水河出海口右岸，白色風帆造型的人行跨海大橋是漁人碼頭的招牌地標，橫跨港區，連接木棧道與觀光漁市。來到漁人碼頭，這邊有著台灣數一數二的夕陽美景，每逢傍晚時分，便可以看到大批的人潮在此等待補捉夕陽沉入海洋的美麗景色。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page5/imgplace2.jpg')
          h3 紅毛城
          .text
            | 「紅毛城園區」屹立於淡水三百餘年，列為國家一級古蹟。有荷西時代、清領時期以及日據時代的建物，主要參觀的建築有兩棟：荷蘭人於1644年興建的四方形城堡「安東尼堡」、與英國人接管後蓋的「英國領事館」。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page5/imgplace3.jpg')
          h3 淡水老街
          .text
            | 淡水老街分成內外兩側，外側是靠淡水河岸的金色水岸步道，內側是的傳統老街，這裡街道兩旁林立熱鬧商店，有濃濃古早味的餅舖、雜貨店，也有賣潮流服飾與玩具。此區著名的人氣美食如阿給、魚丸、魚酥、古早味現烤蛋糕、阿婆鐵蛋等，都是來到這裡必吃不可的美食。
    #n5_page4.page.page4
      .col-12.clearfix
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood1.jpg')
            .col-9.float-left
              h4 發記轟炸大魷魚
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 新北市淡水區中正路
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood2.jpg')
            .col-9.float-left
              h4 楊叔叔韓式炸雞
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 台北市淡水區公明街56巷8號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood3.jpg')
            .col-9.float-left
              h4 愛牧手作工坊
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 新北市淡水區公明街64號中正路121號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood4.jpg')
            .col-9.float-left
              h4 阿媽的酸梅湯
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市淡水區中正路135-1號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood5.jpg')
            .col-9.float-left
              h4 自己來紅茶鮮乳
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市淡水區中正路11巷6號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood6.jpg')
            .col-9.float-left
              h4 許甜記
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 新北市淡水區中正路151號1樓號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood7.jpg')
            .col-9.float-left
              h4 阿給老店
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 新北市淡水區中正路11巷4號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood8.jpg')
            .col-9.float-left
              h4 阿婆鐵蛋
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 新北市淡水區中正路135-1號
    #n5_page5.page.page5
      .tag.ntag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #n5_page6.page.page6
      .tag.ntag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3611.016314131816!2d121.4419034149043!3d25.1689269839094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a55860ccfd91%3A0xa40c1b50cf3e21c5!2z5reh5rC06ICB6KGX5buj5aC0!5e0!3m2!1szh-TW!2stw!4v1557247092397!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .rcontent
            div 地址
            .pb-3 新北市淡水區中正路、重建街、清水街一帶
            .pb-3 景點資訊
            div
              | 捷運：搭乘捷運淡水線至淡水捷運站，往西行至中正路，即可到達淡水老街。
              br
              br
              |                                     公車：指南客運紅26路、836路，及三重客運-淡海-板橋線等皆可到達淡水。
  #n6_page.tp
    .tape_l.ntape
      img(src='images/north/tape.png')
    .tape_r.ntape
      img(src='images/north/tape.png')
    #n6_page1.page.page1
      #carousel_n6_page1.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_n6_page1', data-slide-to='0')
          li(data-target='#carousel_n6_page1', data-slide-to='1')
          li(data-target='#carousel_n6_page1', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page6/bimg1-l.jpg')
              img.d-block.w-100(src='images/north/page6/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page6/bimg2-l.jpg')
              img.d-block.w-100(src='images/north/page6/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/north/page6/bimg3-l.jpg')
              img.d-block.w-100(src='images/north/page6/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_n6_page1', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_n6_page1', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 望幽谷
          .line2
          .text 望幽谷又稱為忘憂谷，離開了停車場走向平台，不少人以基隆嶼為背景的這V型山谷正是忘憂谷，如同忘憂谷名稱一樣的站在這裡會短暫忘掉煩憂
    #n6_page2.page.page2.nsp
      .col-12
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 特色
        .aticle
          | 「望幽谷」又名「忘憂谷」，意指站在高處俯瞰綠色山谷使人「忘」卻所有煩「憂」，是八斗子海濱公園觀景台下方綠油油的青翠谷地，春夏之際綠草如茵，秋冬歲末則變成了一片奶油色的大地。
          br
          |                                 望幽谷是一個Ｖ字型的山谷，除了翠綠的草地，還有八斗子漁港來往的漁船，以及可遠眺海另一端的基隆嶼，夜晚時分海面上漁火點點與九份山城的燈火形成一齣唯美的山海之戀。這裡設有多條的石版步道，漫步至海灘，有豆腐岩與海蝕地形等的地質景觀，還可以抓螃蟹與撿貝類，享受當一日漁夫的體驗。
    #n6_page3.page.page3.clearfix
      .tag.ntag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page6/imgplace1.jpg')
          h3 潮境公園
          .text
            | 潮境公園園區原本為一處垃圾集放地，後來經海洋科技博物館籌備處規劃改建後，成為一處看海賞景的最佳去處，而以「潮境」為名的這個公園，因為位於漁港及漁村旁，便希望以這個名稱為地方帶來源源不絕的蘊藏與豐收。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page6/imgplace2.jpg')
          h3 忘憂谷
          .text
            | 「望幽谷」又名「忘憂谷」，意指站在高處俯瞰綠色山谷使人「忘」卻所有煩「憂」，是八斗子海濱公園觀景台下方綠油油的青翠谷地，春夏之際綠草如茵，秋冬歲末則變成了一片奶油色的大地。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.ntape
            img(src='images/north/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page6/imgplace3.jpg')
          h3 象鼻岩
          .text
            | 深澳岬角，舊名番仔澳，該岬岩長約800公尺、高約81至35公尺之間。是受東北季風影響、以及地質軟硬不同造成差異侵蝕的海蝕平台，有喚作「印地安人酋長岩」、「象鼻岩」等各類奇岩怪石。
    #n6_page4.page.page4
      .col-12.clearfix
        .tape_bl.ntape
          img(src='images/north/tape.png')
        .tape_r.ntape
          img(src='images/north/tape.png')
        .tag.ntag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood1.jpg')
            .col-9.float-left
              h4 忘憂居
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 基隆市中正區八斗街78號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood2.jpg')
            .col-9.float-left
              h4 瑪利歐披薩
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 基隆市中正區北寧路369巷45-6號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood3.jpg')
            .col-9.float-left
              h4 英式餐館
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star_1.png')
                img.float-left(src='images/north/n_star_1.png')
              .location 基隆市中正區新豐街251巷11號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood4.jpg')
            .col-9.float-left
              h4 三姊妹小吃店
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 基隆市中正區調和街一巷3號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood5.jpg')
            .col-9.float-left
              h4 玥成上海美味鮮湯包
              .star.clearfix
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
                img.float-left(src='images/north/n_star.png')
              .location 基隆市中正區北寧路317-6號
    #n6_page5.page.page5
      .tag.ntag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #n6_page6.page.page6
      .tag.ntag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9731.859915131205!2d121.79458216017738!3d25.14266491063297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4f79d991ebff%3A0x4b31be352c6025d8!2z5YWr5paX5a2Q5rW35r-x5YWs5ZyS!5e0!3m2!1szh-TW!2stw!4v1557246805387!5m2!1szh-TW!2stw', width='100%', height='450px', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.ntape
            img(src='images/north/tape.png')
          .rcontent
            div 地址
            .pb-3 基隆市中正區長潭里北寧路
            .pb-3 景點資訊
            div
              | 大眾運輸:
              br
              |                                     自基隆火車站前搭103路公車，可在八斗子站下車，再沿八斗街步行約25分鐘可達。
              br
              br
              |                                     自行開車：
              br
              |                                     自行開車前往者，可沿中正路往濱海公路方向行駛，至八斗子後轉入八斗街，即可看見指標。
