#s_page.mopageremote
  #s1_page.tp
    .tape_l.stape.tapeone
      img(src='images/south/tape.png')
    .tape_r.stape.tapeone
      img(src='images/south/tape.png')
    #s1_page1.page.page1
      #carousel_s1_page1.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_s1_page1', data-slide-to='0')
          li(data-target='#carousel_s1_page1', data-slide-to='1')
          li(data-target='#carousel_s1_page1', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page1/bimg1-l.jpg')
              img.d-block.w-100(src='images/south/page1/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page1/bimg2-l.jpg')
              img.d-block.w-100(src='images/south/page1/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page1/bimg3-l.jpg')
              img.d-block.w-100(src='images/south/page1/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_s1_page1', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_s1_page1', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 安平古蹟
          .line2
          .text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rem repellendus repudiandae, dicta labore, animi tenetur enim eos, maiores reiciendis sequi. A possimus inventore ipsum quis commodi dolore officia voluptatibus.
    #s1_page2.page.page2.nsp
      .col-12
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 特色
        .aticle
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, nobis, in beatae fugit porro ratione sequi nesciunt mollitia suscipit fuga, alias culpa doloribus dolor eos. Libero a dignissimos porro quae.
          br
          br
          |                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, nobis, in beatae fugit porro ratione sequi nesciunt mollitia suscipit fuga, alias culpa doloribus dolor eos. Libero a dignissimos porro quae.
          br
          br
          |                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, nobis, in beatae fugit porro ratione sequi nesciunt mollitia suscipit fuga, alias culpa doloribus dolor eos. Libero a dignissimos porro quae.
    #s1_page3.page.page3.clearfix
      .tag.stag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page1/imgplace1.jpg')
          h3 TiTle
          .text
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio consequuntur quasi sed alias quas id molestiae sit ab numquam! Amet possimus, repellat consequatur eaque similique doloribus optio dolores reiciendis!
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page1/imgplace2.jpg')
          h3 TiTle
          .text
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio consequuntur quasi sed alias quas id molestiae sit ab numquam! Amet possimus, repellat consequatur eaque similique doloribus optio dolores reiciendis!
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page1/imgplace3.jpg')
          h3 TiTle
          .text
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio consequuntur quasi sed alias quas id molestiae sit ab numquam! Amet possimus, repellat consequatur eaque similique doloribus optio dolores reiciendis!
    #s1_page4.page.page4
      .col-12.clearfix
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood1.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood2.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood3.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood4.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood5.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood6.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood7.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page1/imgfood8.jpg')
            .col-9.float-left
              h4 foodname
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    #s1_page5.page.page5
      .tag.stag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
              li.pb-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              li 聯絡電話
              li.pb-3 09xx-xxx-xxx
              li 房間價格
              li.pb-3 xxx~xxxx
              li 相關網址
              li.pb-3 https://www.xxx.xxxxxxxxxxxxx.xxx.xxx.xx
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 place
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #s1_page6.page.page6
      .tag.stag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5803.057369097751!2d120.15783757349755!3d23.00064680191336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e761d6bc728b7%3A0xab111032f3825e58!2z5a6J5bmz5Y-k5L-d5Y-y6Lmf5YWs5ZyS!5e0!3m2!1szh-TW!2stw!4v1558846733620!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .rcontent
            div 地址
            .pb-3 Lorem ipsum dolor sit amet.
            .pb-3 景點資訊
            div
              | Lorem ipsum dolor
              br
              |                                     自行開車：
              br
              |                                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum similique ipsa minima! Maiores enim iusto quibusdam. Eligendi natus laudantium modi architecto mollitia, molestiae temporibus error. Ad magnam neque sint!
              br
              |                                     大眾運輸：
              br
              |                                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum similique ipsa minima! Maiores enim iusto quibusdam. Eligendi natus laudantium modi architecto mollitia, molestiae temporibus error. Ad magnam neque sint!
  #s2_page.tp
    .tape_l.stape
      img(src='images/south/tape.png')
    .tape_r.stape
      img(src='images/south/tape.png')
    #s2_page1.page.page1
      #carousel_s2_page.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_s2_page', data-slide-to='0')
          li(data-target='#carousel_s2_page', data-slide-to='1')
          li(data-target='#carousel_s2_page', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page2/bimg1-l.jpg')
              img.d-block.w-100(src='images/south/page2/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page2/bimg2-l.jpg')
              img.d-block.w-100(src='images/south/page2/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page2/bimg3-l.jpg')
              img.d-block.w-100(src='images/south/page2/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_s2_page', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_s2_page', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 七股瀉湖
          .line2
          .text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore consequatur itaque nisi consequuntur aut ipsum id pariatur, autem delectus eveniet modi non impedit sed quis dolorum, fugit quisquam quidem tenetur?
    #s2_page2.page.page2.nsp
      .col-12
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 特色
        .aticle
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi delectus maxime possimus, impedit deserunt eaque id, odit, tenetur non veniam qui minima optio? Praesentium consequuntur fugiat nemo ipsa? Eligendi, reiciendis!
          br
          |                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi odit necessitatibus eos cumque perferendis sequi, aliquid saepe quae sit alias consequatur expedita exercitationem error doloribus laudantium tempore, quidem incidunt officiis.
          br
          |                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic iure odio itaque aperiam dolorem praesentium. Nisi aspernatur, veritatis error ducimus sequi libero laudantium quam culpa odio a reprehenderit delectus.
    #s2_page3.page.page3.clearfix
      .tag.stag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page2/imgplace1.jpg')
          h3 place
          .text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam architecto harum ea, similique obcaecati temporibus ad quidem cum! Reiciendis, perferendis odit quasi voluptatibus quas esse officiis in doloribus sequi.
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page2/imgplace2.jpg')
          h3 place
          .text
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem error earum ratione molestias omnis! Nisi odio architecto suscipit consequuntur eum, quas impedit veniam ducimus assumenda maiores aperiam similique ipsam placeat.
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page2/imgplace3.jpg')
          h3 place
          .text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, blanditiis eaque. Aliquid quibusdam placeat, accusamus itaque dolorem explicabo! Possimus itaque vero exercitationem, explicabo praesentium ratione aperiam. Voluptatum neque mollitia repudiandae.
    #s2_page4.page.page4
      .col-12.clearfix
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood1.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood2.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood3.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood4.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
                img.float-left(src='images/south/s_star_1.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood5.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood6.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood7.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page2/imgfood8.jpg')
            .col-9.float-left
              h4 food
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    #s2_page5.page.page5
      .tag.stag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 太平洋商旅
            ul
              li 住宿地址
              li.pb-3 No. 495光復南路信義區台北市
              li 聯絡電話
              li.pb-3 02 8780 8000
              li 房間價格
              li.pb-3 3382起
              li 相關網址
              li.pb-3 http://www.businesscenter.com.tw
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 窩工作旅店101館
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 正旅館信義館
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 太空艙旅舍信義館
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 思泊客台北101
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 W Taipei
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 台北君悅酒店
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 晶璽商旅
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 窩工作旅店101館
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #s2_page6.page.page6
      .tag.stag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22750.362080059!2d120.06977514986875!3d23.140104783632992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346dd6d013a93301%3A0x8ba12db23b741336!2z6KeA5rW35qiT!5e0!3m2!1szh-TW!2stw!4v1558846828382!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .rcontent
            div 地址
            .pb-3 台北市信義區信義路五段7號
            .pb-3 景點資訊
            div
              | 自行開車
              br
              |                                         1、國道3號─由木柵交流道下，再連接至台北市聯絡道路至辛亥路三段後，行駛至基隆路二段再往北行駛至基隆路、信義路口即可到達台北101
              br
              |                                         大眾運輸
              br
              |                                         公車：
              br
              |                                         1、搭乘207、537、信義幹線)、藍5至世貿中心站即可到達
              br
              |                                         2、搭乘1、284、292、611、650至世貿中心站即可到達
              br
              |                                         捷運：
              br
              |                                         1、搭乘捷運板南線至「市政府」站下車，由出口2往信義路方向步行約10分鐘即可到達。
              br
              |                                         2、搭乘捷運信義線至「台北101」站下車，由出口4出站即可抵達。
              br
  #s3_page.tp
    .tape_l.stape
      img(src='images/south/tape.png')
    .tape_r.stape
      img(src='images/south/tape.png')
    #s3_page1.page.page1
      #carousel_s3_page.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_s3_page', data-slide-to='0')
          li(data-target='#carousel_s3_page', data-slide-to='1')
          li(data-target='#carousel_s3_page', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page3/bimg1-l.jpg')
              img.d-block.w-100(src='images/south/page3/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page3/bimg2-l.jpg')
              img.d-block.w-100(src='images/south/page3/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page3/bimg3-l.jpg')
              img.d-block.w-100(src='images/south/page3/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_s3_page', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_s3_page', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 駁二
          .line2
          .text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum optio exercitationem velit repellendus deserunt nulla, sapiente vitae, praesentium minus in error iure eum asperiores iste totam quo odio ea excepturi.
    #s3_page2.page.page2.nsp
      .col-12
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 特色
        .aticle
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum optio exercitationem velit repellendus deserunt nulla, sapiente vitae, praesentium minus in error iure eum asperiores iste totam quo odio ea excepturi
          br
          br
          |                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum optio exercitationem velit repellendus deserunt nulla, sapiente vitae, praesentium minus in error iure eum asperiores iste totam quo odio ea excepturi
          br
          br
          |                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum optio exercitationem velit repellendus deserunt nulla, sapiente vitae, praesentium minus in error iure eum asperiores iste totam quo odio ea excepturi
          br
    #s3_page3.page.page3.clearfix
      .tag.stag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page3/imgplace1.jpg')
          h3 樟樹步道魯冰花海
          .text 樟樹步道是一道平緩無階梯的步道，長約1.2公里，沿途設置有涼亭、景觀花海、水池及農村景觀設施等，步道平緩好走，非常適合親子同遊，現已成為貓空最熱門步道之一。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page3/imgplace2.jpg')
          h3 臺北市立動物園
          .text
            | 臺北市立動物園，園區總面積原為182公頃，隨後因捷運動物園站及北二高的開闢，移撥出部分土地，目前仍有165公頃之廣，其中已開發使用區域近百公頃。園內包含8個戶外展示區、6個室內展示館、5個環境教育教學場所。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page3/imgplace3.jpg')
          h3 貓纜之眼
          .text
            | 「貓纜之眼」水晶車廂係將原車廂底部改裝為3層強化玻璃，總厚度約48公釐，玻璃重量約213公斤，該透明地板皆通過歐洲CE安全認證，每部限乘5人，水晶車廂共推出31臺，平均約2～4分鐘可提供一部「貓纜之眼」水晶車廂載客。
    #s3_page4.page.page4
      .col-12.clearfix
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood1.jpg')
            .col-9.float-left
              h4 綠續緣茶藝
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市文山區指南路三段38巷16號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood2.jpg')
            .col-9.float-left
              h4 上暘茶莊
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市文山區指南路三段38巷16之2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood3.jpg')
            .col-9.float-left
              h4 貓空茶屋
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 臺北市文山區指南路三段38巷16-8號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood4.jpg')
            .col-9.float-left
              h4 四哥的店
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市文山區指南路三段38巷33-1號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood5.jpg')
            .col-9.float-left
              h4 清泉山莊
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 台北市文山區指南路三段38巷33-3號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood6.jpg')
            .col-9.float-left
              h4 貓空茶言觀色
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 台北市文山區指南路三段38巷20號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood7.jpg')
            .col-9.float-left
              h4 龍門客棧
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市文山區指南路三段38巷22之2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page3/imgfood8.jpg')
            .col-9.float-left
              h4 貓空四爺SIHYE
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市文山區指南路三段38巷16-2號
    #s3_page5.page.page5
      .tag.stag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #s3_page6.page.page6
      .tag.stag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.9001051174278!2d120.27938248408269!3d22.620205225066652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e047620e1c45b%3A0xe6d6d1bd1c764df2!2z6aeB5LqM6Jed6KGT54m55Y2A!5e0!3m2!1szh-TW!2stw!4v1558846894469!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .rcontent
            div 地址
            .pb-3 台北市文山區萬興里新光路二段8號
            .pb-3 景點資訊
            div
              | 搭捷運
              br
              |                                     請搭乘捷運文湖線至動物園站後，再步行至纜車動物園站(約350公尺) 。
              br
              |                                     請搭乘板南線，在市政府站下車，再轉乘綠1、棕18或棕21公車。
              br
              br
              |                                     搭公車 
              br
              |                                     請搭乘66、236區、237、282、294、295、611、676、679、679區、793、933、1501（假日停駛）、1503（假日停駛）、1558、小12、棕3、棕6、棕11、棕15、棕15區、棕18、棕21、綠1、貓空左線(動物園)、羅斯福路幹線等路線公車到貓纜動物園站下車即達。【查詢公車路線】。
              br
              br
              |                                     自行開車 
              br
              |                                     國道1號(中山高速公路)：
              br
              |                                     建國北路高架道 → 下辛亥路左轉 → 國道3號臺北聯絡道 → 萬芳交流道(往木柵方向) → 左轉木柵路 → 右轉萬福橋 → 右轉新光路。
              br
              |                                     國道3號(福爾摩沙高速公路)：
              br
              |                                     木柵交流道 → 國道3號臺北聯絡道 → 萬芳交流道(往木柵方向) → 左轉木柵路 → 右轉萬福橋 → 右轉新光路。
  #s4_page.tp
    .tape_l.stape
      img(src='images/south/tape.png')
    .tape_r.stape
      img(src='images/south/tape.png')
    #s4_page1.page.page1
      #carousel_s4_page.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_s4_page', data-slide-to='0')
          li(data-target='#carousel_s4_page', data-slide-to='1')
          li(data-target='#carousel_s4_page', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page4/bimg1-l.jpg')
              img.d-block.w-100(src='images/south/page4/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page4/bimg2-l.jpg')
              img.d-block.w-100(src='images/south/page4/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page4/bimg3-l.jpg')
              img.d-block.w-100(src='images/south/page4/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_s4_page', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_s4_page', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 旗津
          .line2
          .text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consequatur repellendus nemo facilis distinctio. Enim inventore nisi maxime corporis harum esse asperiores, dolores nihil fugit est libero illo temporibus accusamus?
    #s4_page2.page.page2.nsp
      .col-12
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 特色
        .aticle
          | 國立中正紀念堂位於台北市中心的杭州南路以西、中山南路以東、愛國東路以北、信義路以南的範圍，佔地75000坪，國立中正紀念堂大門外有『大中至正』四字牌樓，接著是寬長的瞻仰大道，兩旁遍植花草綠樹，一片綠意盎然。國立中正紀念堂的舊址在日治時代為台灣陸軍步兵第一聯隊與山砲隊之軍事用地。位於東門外，於民國六十四年開始規劃，把林森南路移到地下進行整體的規劃。
          br
          |                                 自先總統 蔣公於民國64年4月5日逝世，海、內外國民同胞為了表達對蔣公最崇高的敬意與永恆的懷念，行政院接受各界建議與治喪大員會議之決議，決定在臺北市興建國立中正紀念堂，並於69年3月底完成，同年4月5日正式對外開放。國立中正紀念堂更從1990年到2000年共11年間，一直作為臺灣燈會主場地。
          br
          |                                 國立中正紀念堂其頂仿北京天壇模式，四面構造仿埃及金字塔；國立中正紀念堂的白色大理石、寶藍色的琉璃瓦、滿園遍植的紅花，就如同青天白日滿地紅的象徵。國立中正紀念堂正廳恭置 蔣公坐姿銅像，底座部份設有展覽室和放映室，陳列蔣公一生對國家民族偉大勳業之文物，供民眾參觀，國立中正紀念堂左右分列戲劇院與音樂廳，提供國際性的藝文表演，古色古香的中國宮殿式建築，莊嚴宏偉，許多國內外之文化表演均在此進行。
          br
          |                                 國立中正紀念堂南北兩側各有一個側門，北側面臨信義路為大忠門；南側面臨愛國東路為大孝門，園內南北兩側有雲漢池及光華池，三處健身場，二條健康步道以及三個盆景區，庭園建築結合自然環境與人文空間，具有中國「天人合一」的美學風格，成為現代繁忙社會中，一塊幽靜的園地。國立中正紀念堂外的中正公園，綠茵如氈，曲橋、石徑、池塘等，令人倍感典雅，極富古意的城牆圍繞在四周，中國傳統庭園藝術之美，同時也提供市民文化育樂及社會教育活動。
          br
          |                                 由於國立中正紀念堂占地廣闊、建築美麗，常常是大台北地區民眾例假日休閒旅遊、活動聚會及婚紗攝影的最佳旅遊地，更成為外國人來台旅遊必訪的景點之一。由於國立中正紀念堂為台北旅遊勝地，因此中正區旅館業者的興起，讓國外人士來到國立中正紀念堂旅遊，能夠更盡興的玩完台北，造就中正區旅遊的風潮，讓台北成為世界聞名的觀光勝地。此外，每天上午9時至下午5時整點的儀隊交接，也是國立中正紀念堂的特色之一。
    #s4_page3.page.page3.clearfix
      .tag.stag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page4/imgplace1.jpg')
          h3 兩廳院
          .text
            | 臺灣首座國家級的文化園區－兩廳院，落成於1987年，是臺灣表演藝術最專業的劇場，也是臺北重要的觀光地標，二座主要建築融合中國宮殿式樣，搭配黃瓦飛簷、紅柱彩拱，氣勢典雅壯觀，構築出優雅而富藝術情趣的生活空間。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page4/imgplace2.jpg')
          h3 中正紀念公園
          .text
            | 中式園林造景的中正紀念公園，以大孝門、大忠門及正面牌樓為三大主要出入口及參觀動線，可直通主堂體。園區內大小不一的花圃星羅棋布，栽植超過30萬株各式特色花卉，常青的樹木四季蒼鬱茂盛、綠意盎然，時令花木，如潔白的梅花、緋紅的櫻花、多彩的杜鵑、耀黃的台灣欒樹，隨著四季遞嬗，為公園綴上豐富的色彩，妝點出不同的風情。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page4/imgplace3.jpg')
          h3 自由廣場牌樓
          .text
            | 中正紀念堂牌樓，面對中山南路及國家圖書館，高30公尺，是台北市區內最大的牌樓。牌樓之上的牌匾題字原為「大中至正」，故此牌樓也被稱為「大中至正門」；2007年12月8日之後，被更換為「自由廣場」四字。
    #s4_page4.page.page4
      .col-12.clearfix
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood1.jpg')
            .col-9.float-left
              h4 金峰滷肉飯
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市中正區羅斯福路一段10號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood2.jpg')
            .col-9.float-left
              h4 早澤
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市中正區南昌路一段74巷18-2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood3.jpg')
            .col-9.float-left
              h4 ebisu curry
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 台北市中正區寧波西街78號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood4.jpg')
            .col-9.float-left
              h4 香色 XIANG SE
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市中正區湖口街1-2號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood5.jpg')
            .col-9.float-left
              h4 Cafe de Gear
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 台北市中正區寧波東街3-3號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood6.jpg')
            .col-9.float-left
              h4 杭州小籠湯包
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 台北市大安區杭州南路二段19號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood7.jpg')
            .col-9.float-left
              h4 高三孝碳烤土司
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市中正區南昌路一段31巷11-4號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page4/imgfood8.jpg')
            .col-9.float-left
              h4 合歡刀削麵
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 台北市中正區羅斯福路一段8號206號攤2樓南門市場飲食部
    #s4_page5.page.page5
      .tag.stag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #s4_page6.page.page6
      .tag.stag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5931.741357244304!2d120.26855945866573!3d22.61048829651965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e03f1897d2e6b%3A0xee1fb2bca5e2de95!2z5peX5rSl6ICB6KGX!5e0!3m2!1szh-TW!2stw!4v1558847043839!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .rcontent
            div 地址
            .pb-3 台北市中正區中山南路21號
            .pb-3 景點資訊
            div
              | 捷運：
              br
              |                                     搭乘捷運淡水線至中正紀念堂站下車，由5號出口步行約12分鐘即抵；或搭乘中和新蘆線至東門站3號出口，步行約8分鐘即可到達中正紀念堂。
              br
              br
              |                                         公車：搭乘 15、18、20、22、 37、204、208、214、236、248、249、251、252、261、263、270、293、297、621、623、630、651、信義線等台北市聯營公車，於中正紀念堂站或南門市場站下車，步行即可到達中正紀念堂。
  #s5_page.tp
    .tape_l.stape
      img(src='images/south/tape.png')
    .tape_r.stape
      img(src='images/south/tape.png')
    #s5_page1.page.page1
      #carousel_s5_page1.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_s5_page1', data-slide-to='0')
          li(data-target='#carousel_s5_page1', data-slide-to='1')
          li(data-target='#carousel_s5_page1', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page5/bimg1-l.jpg')
              img.d-block.w-100(src='images/south/page5/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page5/bimg2-l.jpg')
              img.d-block.w-100(src='images/south/page5/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page5/bimg3-l.jpg')
              img.d-block.w-100(src='images/south/page5/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_s5_page1', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_s5_page1', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 墾丁公園
          .line2
          .text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quos hic aliquid atque harum quas, consectetur fugit! Rerum maxime dicta illo velit, similique ratione magni iste, non odit suscipit ipsam!
    #s5_page2.page.page2.nsp
      .col-12
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 特色
        .aticle
          | 「淡水老街」不僅早已是全台知名熱門景點，同時也吸引不少外國人慕名而來。這裡街道兩旁林立熱鬧商店，有濃濃古早味的餅舖、雜貨店，也有賣潮流服飾、玩具，當然還有最吸引人的人氣美食如阿給、魚丸，另外還有古蹟可參觀，怎麼玩都不會膩。淡水老街分成外側靠淡水河岸的部分(金色水岸步道)與內側的老街，四處可見此區著名的古早味現烤蛋糕、烤魷魚、阿婆鐵蛋、魚酥、巨無霸冰淇淋還有淡水魚丸等等，都是來到此地必吃不可的美食。 
          br
          br
          |                                 從淡水捷運站走出來右轉，中正路及延伸的重建街、清水街一帶，就是鼎鼎大名的淡水老街。 
          br
          |                                 淡水老街分成內外兩側，外側是靠淡水河岸的金色水岸步道，內側是的傳統老街，這裡街道兩旁林立熱鬧商店，有濃濃古早味的餅舖、雜貨店，也有賣潮流服飾與玩具。此區著名的人氣美食如阿給、魚丸、魚酥、古早味現烤蛋糕、阿婆鐵蛋等，都是來到這裡必吃不可的美食。傍晚時，在金色水岸步道還可欣賞夕陽落入海面的美景。 
          br
          br
          |                                 位於山坡上的重建街由於發展較早，因此兩旁仍有許多木造與磚造的老房舍，走到街底還能從高處遠眺淡水河口。後來因商業發展關係，形成另一條與重建街平行的街道，主要是以米店、碾米業為主，因此稱「米市仔」(現在清水街的北段)，直到清水祖師廟興建後，米市街才改名清水街。 
          br
          br
          |                                 中正路老街往前行可看見紀念對淡水影響很深的馬偕博士之馬偕石像公園，沿路還有清水祖師廟、福佑宮、滬尾偕醫館、淡水禮拜堂等古蹟。在老街除了尋幽訪勝，老街內的特色商店更是逛街及享受美食的好地方。 
          br
          |                                 淡水必吃的在地美食「阿給」是從日文「油豆腐」的部分發音直譯而來，作法是將油豆腐中間挖空，填加炒過的冬粉然後浸泡滷汁，再用魚漿封口加以蒸煮，最後淋上甜辣醬或是店家獨門的秘密醬料。 
          br
    #s5_page3.page.page3.clearfix
      .tag.stag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page5/imgplace1.jpg')
          h3 漁人碼頭
          .text
            | 位於淡水河出海口右岸，白色風帆造型的人行跨海大橋是漁人碼頭的招牌地標，橫跨港區，連接木棧道與觀光漁市。來到漁人碼頭，這邊有著台灣數一數二的夕陽美景，每逢傍晚時分，便可以看到大批的人潮在此等待補捉夕陽沉入海洋的美麗景色。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page5/imgplace2.jpg')
          h3 紅毛城
          .text
            | 「紅毛城園區」屹立於淡水三百餘年，列為國家一級古蹟。有荷西時代、清領時期以及日據時代的建物，主要參觀的建築有兩棟：荷蘭人於1644年興建的四方形城堡「安東尼堡」、與英國人接管後蓋的「英國領事館」。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page5/imgplace3.jpg')
          h3 淡水老街
          .text
            | 淡水老街分成內外兩側，外側是靠淡水河岸的金色水岸步道，內側是的傳統老街，這裡街道兩旁林立熱鬧商店，有濃濃古早味的餅舖、雜貨店，也有賣潮流服飾與玩具。此區著名的人氣美食如阿給、魚丸、魚酥、古早味現烤蛋糕、阿婆鐵蛋等，都是來到這裡必吃不可的美食。
    #s5_page4.page.page4
      .col-12.clearfix
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood1.jpg')
            .col-9.float-left
              h4 發記轟炸大魷魚
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 新北市淡水區中正路
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood2.jpg')
            .col-9.float-left
              h4 楊叔叔韓式炸雞
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 台北市淡水區公明街56巷8號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood3.jpg')
            .col-9.float-left
              h4 愛牧手作工坊
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 新北市淡水區公明街64號中正路121號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood4.jpg')
            .col-9.float-left
              h4 阿媽的酸梅湯
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 新北市淡水區中正路135-1號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood5.jpg')
            .col-9.float-left
              h4 自己來紅茶鮮乳
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 新北市淡水區中正路11巷6號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood6.jpg')
            .col-9.float-left
              h4 許甜記
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 新北市淡水區中正路151號1樓號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood7.jpg')
            .col-9.float-left
              h4 阿給老店
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 新北市淡水區中正路11巷4號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page5/imgfood8.jpg')
            .col-9.float-left
              h4 阿婆鐵蛋
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 新北市淡水區中正路135-1號
    #s5_page5.page.page5
      .tag.stag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #s5_page6.page.page6
      .tag.stag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20361.36051754137!2d120.77928804187346!3d21.94962551987874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3471b3fadac47ca3%3A0xf7179fa8495df57f!2z5aK-5LiB5ZyL5a625YWs5ZyS!5e0!3m2!1szh-TW!2stw!4v1558847110170!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .rcontent
            div 地址
            .pb-3 新北市淡水區中正路、重建街、清水街一帶
            .pb-3 景點資訊
            div
              | 捷運：搭乘捷運淡水線至淡水捷運站，往西行至中正路，即可到達淡水老街。
              br
              br
              |                                     公車：指南客運紅26路、836路，及三重客運-淡海-板橋線等皆可到達淡水。
  #s6_page.tp
    .tape_l.stape
      img(src='images/south/tape.png')
    .tape_r.stape
      img(src='images/south/tape.png')
    #s6_page1.page.page1
      #carousel_s6_page1.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel_s6_page1', data-slide-to='0')
          li(data-target='#carousel_s6_page1', data-slide-to='1')
          li(data-target='#carousel_s6_page1', data-slide-to='2')
        .carousel-inner
          .carousel-item.active(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page6/bimg1-l.jpg')
              img.d-block.w-100(src='images/south/page6/bimg1-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page6/bimg2-l.jpg')
              img.d-block.w-100(src='images/south/page6/bimg2-s.jpg')
          .carousel-item(data-interval='5000')
            picture
              source.d-block.w-100(media='(min-width: 600px)', srcset='images/south/page6/bimg3-l.jpg')
              img.d-block.w-100(src='images/south/page6/bimg3-s.jpg')
        a.carousel-control-prev(href='#carousel_s6_page1', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel_s6_page1', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .bpage
        .content
          .line1
          .btitle 琉球嶼
          .line2
          .text
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias assumenda enim ipsam tempore aspernatur magnam officia ratione perferendis impedit. Iusto excepturi totam voluptatum, cupiditate non illo magnam incidunt officiis perferendis?
    #s6_page2.page.page2.nsp
      .col-12
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 特色
        .aticle
          | 「望幽谷」又名「忘憂谷」，意指站在高處俯瞰綠色山谷使人「忘」卻所有煩「憂」，是八斗子海濱公園觀景台下方綠油油的青翠谷地，春夏之際綠草如茵，秋冬歲末則變成了一片奶油色的大地。
          br
          |                                 望幽谷是一個Ｖ字型的山谷，除了翠綠的草地，還有八斗子漁港來往的漁船，以及可遠眺海另一端的基隆嶼，夜晚時分海面上漁火點點與九份山城的燈火形成一齣唯美的山海之戀。這裡設有多條的石版步道，漫步至海灘，有豆腐岩與海蝕地形等的地質景觀，還可以抓螃蟹與撿貝類，享受當一日漁夫的體驗。
    #s6_page3.page.page3.clearfix
      .tag.stag 景點
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page6/imgplace1.jpg')
          h3 潮境公園
          .text
            | 潮境公園園區原本為一處垃圾集放地，後來經海洋科技博物館籌備處規劃改建後，成為一處看海賞景的最佳去處，而以「潮境」為名的這個公園，因為位於漁港及漁村旁，便希望以這個名稱為地方帶來源源不絕的蘊藏與豐收。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page6/imgplace2.jpg')
          h3 忘憂谷
          .text
            | 「望幽谷」又名「忘憂谷」，意指站在高處俯瞰綠色山谷使人「忘」卻所有煩「憂」，是八斗子海濱公園觀景台下方綠油油的青翠谷地，春夏之際綠草如茵，秋冬歲末則變成了一片奶油色的大地。
      .p3.col-md-4.col-12.s_page.nsp.position-relative.float-left
        .pcontent
          .tape_h.stape
            img(src='images/south/tape.png')
          .pimg
            img.w-100.h-100(src='images/north/page6/imgplace3.jpg')
          h3 象鼻岩
          .text
            | 深澳岬角，舊名番仔澳，該岬岩長約800公尺、高約81至35公尺之間。是受東北季風影響、以及地質軟硬不同造成差異侵蝕的海蝕平台，有喚作「印地安人酋長岩」、「象鼻岩」等各類奇岩怪石。
    #s6_page4.page.page4
      .col-12.clearfix
        .tape_bl.stape
          img(src='images/south/tape.png')
        .tape_r.stape
          img(src='images/south/tape.png')
        .tag.stag 美食推薦
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood1.jpg')
            .col-9.float-left
              h4 忘憂居
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 基隆市中正區八斗街78號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood2.jpg')
            .col-9.float-left
              h4 瑪利歐披薩
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 基隆市中正區北寧路369巷45-6號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood3.jpg')
            .col-9.float-left
              h4 英式餐館
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star_1.png')
                img.float-left(src='images/south/s_star_1.png')
              .location 基隆市中正區新豐街251巷11號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood4.jpg')
            .col-9.float-left
              h4 三姊妹小吃店
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 基隆市中正區調和街一巷3號
        .col-lg-6.col-12.s_page.nsp.float-left
          .content.clearfix
            .col-3.p-0.float-left
              .avatar
                img.w-100.h-100(src='images/north/page6/imgfood5.jpg')
            .col-9.float-left
              h4 玥成上海美味鮮湯包
              .star.clearfix
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
                img.float-left(src='images/south/s_star.png')
              .location 基隆市中正區北寧路317-6號
    #s6_page5.page.page5
      .tag.stag 住宿資訊
      .vcontent.clearfix
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 記憶九份民宿
            ul
              li 住宿地址
              li.pb-3 新北市瑞芳區豎崎路20-1號
              li 聯絡電話
              li.pb-3 0931-365485
              li 房間價格
              li.pb-3 3800~3800
              li 相關網址
              li.pb-3 https://tw.hotels.com/ho767304512/ji-yi-jiu-fen-min-su-xin-bei-shi-tai-wan/
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份愛琴海民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份黃金屋
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份方來民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份-山嶼海親子民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 涵館民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 琚九屋民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份故事樓民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份九份民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
        .col-lg-4.col-12.nsp.note.float-left
          .content
            h4 九份民宿民宿
            ul
              li 住宿地址
            .text （繼續閱讀...）
    #s6_page6.page.page6
      .tag.stag 交通資訊
      .vcontent.clearfix
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .lcontent
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21901.296142778105!2d120.36260740068154!3d22.338484687642534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3471ef8b9905a955%3A0xc695f3e2705e695b!2z55CJ55CD5ba8!5e0!3m2!1szh-TW!2stw!4v1558847214271!5m2!1szh-TW!2stw', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .col-lg-6.col-12.s_page.nsp.float-left
          .tape_h.stape
            img(src='images/south/tape.png')
          .rcontent
            div 地址
            .pb-3 基隆市中正區長潭里北寧路
            .pb-3 景點資訊
            div
              | 大眾運輸:
              br
              |                                     自基隆火車站前搭103路公車，可在八斗子站下車，再沿八斗街步行約25分鐘可達。
              br
              br
              |                                     自行開車：
              br
              |                                     自行開車前往者，可沿中正路往濱海公路方向行駛，至八斗子後轉入八斗街，即可看見指標。
