#backblock.backblock
  a.back(href='#prepage')
    .backtext Back
.cmotag
  .motag.col-6
    a(name='#nav_n', href='#n_page')
      img(src='images/north/tag.png')
      | 北部
  .motag.col-6
    a(name='#nav_s', href='#s_page')
      img(src='images/south/tag.png')
      | 南部
  .motag.col-6
    a(name='#nav_m', href='#m_page')
      img(src='images/middle/tag.png')
      | 中部
  .motag.col-6
    a(name='#nav_e', href='#e_page')
      img(src='images/east/tag.png')
      | 東部