nav
  #rail.rail
  ul#nav_n
    li.nav_title.nav1
      a(href='#north') 首頁
    li.nav_title
      a(href='#n1_page') 九份
    li.nav_title
      a(href='#n2_page') 台北101
    li.nav_title
      a(href='#n3_page') 貓空
    li.nav_title
      a(href='#n5_page') 淡水老街
    li.nav_title
      a(href='#n4_page') 中正紀念堂
    li.nav_title
      a(href='#n6_page') 望幽谷
  ul#nav_e
    li.nav_title.nav1
      a(href='#east') 首頁
    li.nav_title
      a(href='#e1_page') 蘭陽博物館
    li.nav_title
      a(href='#e2_page') 礁溪溫泉
    li.nav_title
      a(href='#e3_page') 花蓮市區
    li.nav_title
      a(href='#e4_page') 玉山國家公園
    li.nav_title
      a(href='#e5_page') 縱谷平原
    li.nav_title
      a(href='#e6_page') 台東森林公園
  ul#nav_s
    li.nav_title.nav1
      a(href='#south') 首頁
    li.nav_title
      a(href='#s1_page') 安平古蹟
    li.nav_title
      a(href='#s2_page') 七股瀉湖
    li.nav_title
      a(href='#s3_page') 駁二特區
    li.nav_title
      a(href='#s4_page') 旗津
    li.nav_title
      a(href='#s5_page') 墾丁公園
    li.nav_title
      a(href='#s6_page') 琉球嶼
  ul#nav_m
    li.nav_title.nav1
      a(href='#middle') 首頁
    li.nav_title
      a(href='#m1_page') 日月潭
    li.nav_title
      a(href='#m2_page') 中社
    li.nav_title
      a(href='#m3_page') 科博館
    li.nav_title
      a(href='#m4_page') 鹿港
    li.nav_title
      a(href='#m5_page') 逢甲夜市
    li.nav_title
      a(href='#m6_page') 布袋港