block navbar
  include partials/navbar.jade
#container.container.p-0.mx-auto
  .space
  block map
    include pages/map.jade
  include pages/north.jade
  include pages/east.jade
  include pages/south.jade
  include pages/middle.jade
a#gotop.gotop(href='') TOP
footer 本網頁僅供練習用途，將不用作任何商業營利用途。
