extend layout.jade
include partials/head.jade
block loading
  include partials/loading.jade
block prepage
  include partials/prepage.jade
block backblock
  include partials/backblock.jade
block content
  include content.jade
